<div class="wrapper">
	@for (item of this.pageData.formData.fields; track $index) {

	@switch (item.name) {
	@case('pomDoc'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-person-through-window"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">
				@if(item.value != null && item.value != ''){
				<img [src]="item.value" class="img-fluid img-thumbnail rounded" role="button" (click)="thumbnailViewEvent(item.value, item.label)" style="max-width: 80px;" />
				} @else {
				-
				}
			</div>
		</div>
	</div>
	}

	@case('warehouse_type_id'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-warehouse"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">
				@for (option of item.options; track $index) {
				{{(option.value == item.value)? option.label + " - (" + option.value + ")" : ''}}

				}
			</div>
		</div>
	</div>
	}

	@case('name'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-tag"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}

	@case('code'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-copyright"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}

	@case('phone'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-phone"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}

	@case('address'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-location-dot"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}

	@case('latitude'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-location-crosshairs"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}

	@case('longitude'){
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-location-crosshairs"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}

	@default {
	<div class="card">
		<div class="card-body">
			<div class="head">
				<i class="fa-solid fa-circle-info"></i>
				<span>{{item.label | formatText}}</span>
			</div>
			<div class="body-text">{{(item.value != null && item.value != '')? item.value : '-'}}</div>
		</div>
	</div>
	}
	}

	}
</div>

<ng-template #thumbnailModal let-c="close" let-d="dismiss">
	<div class="modal-header bg-primary text-white bg-gradient py-2" style="--bs-modal-header-padding: 0.5rem 1rem; border-bottom: 0rem;">
		<h6 class="modal-title" id="modal-basic-title">
			<!-- <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button> -->

			@if (thumbnailModalName != null || thumbnailModalName != '') {

			{{thumbnailModalName | titlecase}}

			} @else {Thumbnail}

		</h6>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body p-0">
		<img [src]="thumbnailModalSrc" style="display: block; margin: 0 auto; max-width: 100%;" />
	</div>
</ng-template>
