:host {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.formWrapper {
	padding: 40px 0;
}

.formWrapper .mat-form-field {
	margin: 0 15px;
	min-width: 300px;
}

.ckeditorContainer .ckeditor {
	min-height: 300px;
}


:host ::ng-deep .ck-editor__editable_inline {
	min-height: 500px;
}


.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
	min-height: 200px;
}