<!-- <form [formGroup]="dynamicForm" novalidate>
	<mat-form-field class="example-full-width" appearance="outline" [ngClass]="{'mdc-text-field--invalid': errorClass}">
		<mat-label>{{componentData.label}}</mat-label>
		@if(componentData.prefix!= undefined && componentData.prefix.type == 'text'){
		<span matTextPrefix>{{componentData.prefix.value}}&nbsp;&nbsp;</span>
		}

		@if(componentData.prefix!= undefined && componentData.prefix.type == 'icon') {
		<span matTextPrefix>
			<i [class]="componentData.prefix.value"></i>&nbsp;&nbsp;
		</span>
		}

		@if(componentData.prefix!= undefined && componentData.prefix.type == 'matIcon') {
		<mat-icon matPrefix>{{componentData.prefix.value}}</mat-icon>
		}


		<input matInput [name]="componentData.name" [max]="componentData.validators.max" [disableClick]="componentData.validators.readonly" [min]="componentData.validators.min" [format]="24" [formControlName]="componentData.name" [ngxMatTimepicker]="pickerA" readonly />


		@if(componentData.suffix!= undefined && componentData.suffix.type == 'text'){
		<span matTextSuffix>&nbsp;&nbsp;{{componentData.suffix.value}}</span>
		}

		@if(componentData.suffix!= undefined && componentData.suffix.type == 'icon') {
		<span matTextSuffix>
			&nbsp;&nbsp;<i [class]="componentData.suffix.value"></i>
		</span>
		}

		@if(componentData.suffix!= undefined && componentData.suffix.type == 'matIcon') {
		<mat-icon matSuffix>{{componentData.suffix.value}}</mat-icon>
		}
		<mat-icon matSuffix (click)=" pickerA.open()">schedule</mat-icon>
	</mat-form-field>
	<ngx-mat-timepicker [format]="24" [enableKeyboardInput]="true" [disableAnimation]="true" [minutesGap]="5" (timeSet)="timeChangeHandler($event)" #pickerA></ngx-mat-timepicker>
</form> -->

<form [formGroup]="dynamicForm" novalidate>
	<mat-form-field class="example-full-width" appearance="outline" [ngClass]="{'mdc-text-field--invalid': errorClass}">
		<mat-label>{{componentData.label}}</mat-label>
		<input matInput [matTimepicker]="picker" [formControlName]="componentData.name" [readonly]="true" [matTimepickerMin]="componentData.validators.min" [matTimepickerMax]="componentData.validators.max">
		<mat-timepicker-toggle matIconSuffix [for]="picker">
			<mat-icon matTimepickerToggleIcon>schedule</mat-icon>
		</mat-timepicker-toggle>
		<mat-timepicker [interval]="'15m'" #picker />

		@if (componentData.name.errors?.['matTimepickerParse']) {
		<mat-error>Value isn't a valid time</mat-error>
		}

		@if (componentData.name.errors?.['matTimepickerMin']) {
		<mat-error>Value is too early</mat-error>
		}

		@if (componentData.name.errors?.['matTimepickerMax']) {
		<mat-error>Value is too late</mat-error>
		}
	</mat-form-field>
	@if (componentData.validators.max) {
	<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
		<span>Min {{componentData.validators.min | timeFormat:'hh:mm a'}}</span>
		<span>Max {{componentData.validators.max | timeFormat:'hh:mm a'}}</span>
	</mat-hint>
	}
</form>