<!--/ Filter /-->
<form class="filterPanel" [formGroup]="dynamicForm" (ngSubmit)="applyFilter()" [ngClass]="{'active': filterPanel}">
	<div class="filterHeader">
		<h4 class="m-0">{{formFields.length>1?'FILTERS':'FILTER'}}</h4>
		<a type="button" (click)="toggleFilter()" class="filterPanelCloseBtn"><i class="fa-solid fa-xmark"></i></a>
	</div>

	<!-- <div class="col-12 mb-4"></div> -->
	@if (DataShow) {

	<div class="container filterContainer">
		@for (field of formFields; track field) {

		@switch (field.type) {
		<!-- Text Type -->
		@case ('text') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<input matInput type="text" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>

			@if (field.validators.maxLength) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Max {{field.validators.maxLength}} characters</span>
				<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
			</mat-hint>
			}

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['maxlength']){

			<mat-error>
				Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
			</mat-error>

			}

			@if(f[field.name].errors?.['minlength']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
			</mat-error>

			}

			}

		</div>

		}

		<!-- Email Type -->
		@case ('email') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<input matInput type="email" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>


			@if (field.validators.maxLength) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Max {{field.validators.maxLength}} characters</span>
				<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
			</mat-hint>
			}


			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}


			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['email']){

			<mat-error>
				Please Enter <strong>Valid Email Address</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['maxlength']){

			<mat-error>
				Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
			</mat-error>

			}

			@if(f[field.name].errors?.['minlength']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
			</mat-error>

			}

			}

		</div>

		}

		<!-- Url Type -->
		@case ('url') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<input matInput type="url" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>


			@if (field.validators.maxLength) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Max {{field.validators.maxLength}} characters</span>
				<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
			</mat-hint>
			}


			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}


			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['pattern']){

			<mat-error>
				Please Enter <strong>Valid Url</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['maxlength']){

			<mat-error>
				Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
			</mat-error>

			}

			@if(f[field.name].errors?.['minlength']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
			</mat-error>

			}

			}

		</div>
		}

		<!-- Numeric Type -->
		@case ('numeric') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<!-- <span matPrefix>&nbsp; +91 &nbsp;</span> -->
				<input matInput type="text" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['pattern']){

			<mat-error>
				Please Enter Valid Numeric <strong> {{field.label}}</strong> Value.
			</mat-error>

			}

			@if(f[field.name].errors?.['maxlength']){

			<mat-error>
				Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Digit Numeric Value.
			</mat-error>

			}

			@if(f[field.name].errors?.['minlength']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.minLength}}</strong> Digit Numeric Value.
			</mat-error>

			}

			}

		</div>

		}

		<!-- Custom Numeric Type -->
		@case ('customNumber') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<!-- <span matPrefix>&nbsp; +91 &nbsp;</span> -->
				<input matInput type="number" max="{{field.validators.max}}" min="{{field.validators.min}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>


			@if (field.validators.max) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Min {{field.validators.min}}</span>
				<span>Max {{field.validators.max}}</span>
			</mat-hint>
			}


			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['pattern']){

			<mat-error>
				Please Enter Valid Numeric <strong> {{field.label}}</strong> Value.
			</mat-error>

			}

			@if(f[field.name].errors?.['min']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.min}}</strong> {{field.label}} Value.
			</mat-error>

			}

			@if(f[field.name].errors?.['max']){

			<mat-error>
				Please Enter Less Than Or Equal to <strong>{{field.validators.max}}</strong> {{field.label}} Value.
			</mat-error>

			}

			}

		</div>

		}

		<!-- Custom Numeric Max 100 Type -->
		@case ('customNumberMax100') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<!-- <span matPrefix>&nbsp; +91 &nbsp;</span> -->
				<input matInput type="number" max="{{field.validators.max}}" min="{{field.validators.min}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>


			@if (field.validators.max) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Min {{field.validators.min}}</span>
				<span>Max {{field.validators.max}}</span>
			</mat-hint>
			}


			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['pattern']){

			<mat-error>
				Please Enter Valid Numeric <strong> {{field.label}}</strong> Value.
			</mat-error>

			}

			@if(f[field.name].errors?.['min']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.min}}</strong> {{field.label}} Value.
			</mat-error>

			}

			@if(f[field.name].errors?.['max']){

			<mat-error>
				Please Enter Less Than Or Equal to <strong>{{field.validators.max}}</strong> {{field.label}} Value.
			</mat-error>

			}

			}

		</div>

		}

		<!-- Custom Pattern Text Type -->
		@case ('customPatternText') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<input matInput type="text" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>
			<!-- {{field.validators.pattern}} -->
			@if (field.validators.maxLength) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Max {{field.validators.maxLength}} characters</span>
				<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
			</mat-hint>
			}

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['pattern']){

			<mat-error>
				Please Enter Valid <strong> {{field.label}}</strong> Data.
			</mat-error>

			}

			@if(f[field.name].errors?.['maxlength']){

			<mat-error>
				Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Value Data.
			</mat-error>

			}

			@if(f[field.name].errors?.['minlength']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.minLength}}</strong> Value Data.
			</mat-error>

			}

			}

		</div>
		}

		<!-- Mobile No Type -->
		@case ('mobileNo') {

		<div class="col-12 mb-4">
			<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
				<mat-label>{{field.label}}</mat-label>
				<input matInput type="tel" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">
			</mat-form-field>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if (field.validators.maxLength) {
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Max {{field.validators.maxLength}} Digits</span>
				<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
			</mat-hint>
			}


			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			@if(f[field.name].errors?.['pattern']){

			<mat-error>
				Please Enter Valid <strong>{{field.validators.maxLength}}</strong> Digit Mobile No.
			</mat-error>

			}

			@if(f[field.name].errors?.['maxlength']){

			<mat-error>
				Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Digit Mobile No.
			</mat-error>

			}

			@if(f[field.name].errors?.['minlength']){

			<mat-error>
				Please Enter At Least <strong>{{field.validators.minLength}}</strong> Digit Mobile No.
			</mat-error>

			}

			}

		</div>

		}

		<!-- Single Select Type -->
		@case ('select') {

		<div class="col-12 mb-4">
			<app-select-with-search [formActivity]="'edit'" [componentData]="field" [optionData]="componentOptionDataFromParent" (selectionUpdate)="onSelectionChange($event)" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-select-with-search>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			}

		</div>

		}

		<!-- Multi Select Type -->
		@case ('multiselect') {

		<div class="col-12 mb-4">
			<app-multiselect-with-search [formActivity]="'edit'" [componentData]="field" [optionData]="componentOptionDataFromParent" (selectionUpdate)="onSelectionChange($event)" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-multiselect-with-search>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			}

		</div>

		}

		<!-- Radio Type -->
		@case ('radio') {

		<div class="col-12 mb-4">
			<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
				<mat-label class="upsideLabel">{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
				<mat-radio-group aria-label="Select an option" [formControlName]="field.name" [id]="field.name" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">

					@for (option of field.options; track option.value) {

					<mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>

					}

				</mat-radio-group>
			</section>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			}

		</div>

		}

		<!-- Checkbox Type -->
		@case ('checkbox') {

		<div class="col-12 mb-4">
			<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
				<mat-label class="upsideLabel">{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
				<app-checkbox [componentData]="field" (checkboxUpdate)="onCheckboxUpdate($event)" [optionData]="componentOptionDataFromParent" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-checkbox>
			</section>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			}

		</div>

		}


		<!-- Checkbox Group Type -->
		@case ('checkboxGroup') {

		<div class="col-12 mb-4">

			<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
				<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}


					@if(dynamicFormSubmitHandler && f[field.name].errors){

					@if(f[field.name].errors?.['required']){

					<mat-error class="m-0">
						{{field.label}} is <strong>required</strong>
					</mat-error>

					}

					}

				</mat-label>


				@if(dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid){
				<mat-error style="padding: 0 0.375rem;">Please Check Atleast One Checkbox</mat-error>
				}

				@if(dynamicForm.get(field.name)?.hasError('backendError')){

				<mat-error>
					{{ dynamicForm.get(field.name)?.getError('backendError') }}
				</mat-error>

				}

				<app-checkbox-group [componentData]="field" (checkboxUpdate)="onCheckboxUpdate($event)" [optionData]="componentOptionDataFromParent" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-checkbox-group>
			</section>
		</div>

		}


		<!-- Date Type -->
		@case ('date') {

		<div class="col-12 mb-4">
			<app-date [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (dateUpdate)="onDateUpdate($event)"></app-date>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			}
		</div>

		}

		<!-- Date Range Type -->
		@case ('daterange') {

		<div class="col-12 mb-4">
			<app-date-range [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (dateUpdate)="onDateUpdate($event)"></app-date-range>

			@if(dynamicForm.get(field.name)?.hasError('backendError')){

			<mat-error>
				{{ dynamicForm.get(field.name)?.getError('backendError') }}
			</mat-error>

			}

			@if(dynamicFormSubmitHandler && f[field.name].errors){

			@if(f[field.name].errors?.['required']){

			<mat-error>
				{{field.label}} is <strong>required</strong>
			</mat-error>

			}

			}

		</div>

		}

		@default{

		<div class="alert alert-danger d-flex align-items-center gap-2" role="alert" style="--bs-alert-border-color: var(--main-card-bg-color);">
			<i class="fa-solid fa-triangle-exclamation"></i>
			<div>
				<strong>{{field.name | titlecase}}</strong> Component Not Found!
			</div>
		</div>

		}

		}

		}

	</div>
	}

	<div class="bottomPanel">

		<button type="submit" class="btn btn-primary btn-sm" [disabled]="!(hasValue$ | async)"><i class="fa-solid fa-filter"></i> Apply</button>
		<button type="button" (click)="resetFilter()" class="btn btn-primary btn-sm" [disabled]="!(hasValue$ | async)"><i class="fa-solid fa-rotate-right"></i> Reset</button>
	</div>
</form>
<!--/ End /-->