@for (field of checkboxFields; track $index) {

@if(field.options.length> 0){

<div class="card mt-2 mb-4" [ngClass]="{'is-invalid': checking && componentData.validators.required && selectedValue.length==0}">
	<div class="card-header fw-bold bg-body-secondary bg-gradient">{{field.label}}</div>
	<div class="card-body checkboxGroupBody">

		@for (item of field.options; track item.value) {
		<!-- {{item.value}}

		{{selectedValue.includes(item.value)}} -->

		<mat-checkbox [value]="item.value" (click)="selectionChange(item.value)" [checked]="selectedValue.includes(item.value)" [disabled]="disabledValues.includes(item.value)">{{item.label}}</mat-checkbox>

		}

	</div>
</div>

}

}
