.example-spacer {
	flex: 1 1 auto;
}

section {
	display: table;
}

.example-label {
	display: table-cell;
	font-size: 14px;
	margin-left: 8px;
	min-width: 120px;
}

.example-button-row {
	display: flex;
	/* width: 490px; */
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.example-button-row .mat-button-base {
	margin: 8px 8px 8px 0;
}

.example-flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.example-button-container {
	display: flex;
	justify-content: center;
	width: 120px;
}

:host {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

section {
	margin-block: 1rem;

	// &.section {

	// 	margin-block: 3rem;
	// }
}

.example-form {
	min-width: 150px;
	max-width: 500px;
	width: 100%;
}

.example-full-width {
	width: 100%;
}

ol {
	li {
		margin-bottom: 3rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.mat-mdc-form-field-infix {

	min-width: 200px;
}

// ::ng-deep .stickyHeader {

// 	*::-webkit-scrollbar,
// 	*::-webkit-scrollbar-track {
// 		width: 0;
// 		height: 0;
// 	}
// }
