<div class="d-flex align-items-center" style="margin: 0 -1.5rem;">
	<div class="col">
		<div class="userInfoDetails">
			<div class="m-0 w-100" style="margin: 0rem 0rem 0.9375rem 0rem !important;width: max-content;">
				<table class="table w-100">
					<thead style="border-width: 0;">
						<tr style="height: auto;">
							<th style="width: 9.375rem;border-left: 0; text-align: center;">Crop Type</th>
							<th style="width: 9.375rem;">Case ID</th>
							<th>Name</th>
							<th>State</th>
							<th>Commodity</th>
							<th style="width: 16.5625rem;border-right: 0;">Contact</th>
						</tr>
					</thead>
					<tbody style="border-width: 0;">
						<tr>
							<td style="text-align: center; border-left: 0;">
								<span class="croptype" [title]="pageData.cropType" style="margin: 0 auto;">{{getWordInitials(pageData.cropType)}}</span>
								<!-- <span class="croptype" style="margin: 0 auto;">{{pageData.cropType | slice:0:1}}</span> -->
							</td>
							<td>{{pageData.caseId}}</td>
							<td>
								@if(pageData.userFullName == 'New User'){

								<app-show-new></app-show-new>

								} @else {

								{{pageData.userFullName}}

								}

							</td>
							<td>{{pageData.state}}</td>
							<td>{{pageData.commodity}}</td>
							<td style="border-right: 0;">
								<a [href]="'tel:'+pageData.userMobile" style="color: inherit;text-decoration: none;display: flex;gap: 0.5rem;align-content: center;align-items: center;font-weight: 700;">
									<span class="numberIcon"><i class="fa-solid fa-phone" style="font-size: 0.875rem;"></i></span> {{pageData.userMobile}}
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>