<div class="d-flex justify-content-between align-items-center stickyHeader" style="overflow: hidden;">
	<h5 class="m-0" style="display: flex;align-items: center;gap: 0.75rem;">
		<a [routerLink]="['/basic-kyc/bnt-error/user-kyc/list']" [queryParams]="backUrlParams" style="font-size: 80%;color: inherit;"><i class="fa-solid fa-arrow-left"></i> </a>KYC Field Error
	</h5>
</div>

<div class="row align-items-start" [@fade]>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-4">
		<form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>

			<div class="row" style="max-width:initial;">
				<div class="col-12">
					<div class="container-fluid p-0">
						<div class="card formCard mb-2" style="max-width: initial;">
							<div class="card-header bg-body-secondary bg-gradient">
								<h6 class=" m-0 d-flex gap-2 align-items-center"><i class="fa-solid fa-user"></i> Basic Info</h6>
							</div>

							@if (formData!= undefined) {

							<div class="card-body">
								<!--Full Name-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['userFullName'].error}">
									<label for="userFullName" [ngClass]="form.get('userFullName')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Full Name</span>

										@if (formData['userFullName'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="userFullName" placeholder="Please Enter Name" formControlName="userFullName" [ngClass]="{'is-invalid': formSubmitHandler && f['userFullName'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['userFullName'].errors) {
										<div class="invalid-feedback">

											@if (f['userFullName'].errors['required']) {

											<div>Please Enter Full Name</div>

											}

											@if (form.get('userFullName')?.hasError('backendError')) {

											<div>{{ form.get('userFullName')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Aadhaar-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['aadhar'].error}">
									<label for="aadhar" [ngClass]="form.get('aadhar')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Aadhaar</span>

										@if (formData['aadhar'].required) {<span class="required ms-1" [title]="'Required'">*</span>}
									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="aadhar" placeholder="Please Enter Aadhaar No." formControlName="aadhar" [ngClass]="{'is-invalid': formSubmitHandler && f['aadhar'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['aadhar'].errors) {
										<div class="invalid-feedback">

											@if (f['aadhar'].errors['pattern']) {

											<div>Please Enter Valid Aadhaar No.</div>

											}

											@if (f['aadhar'].errors['required']) {

											<div>Please Enter Aadhaar No.</div>

											}

											@if (form.get('aadhar')?.hasError('backendError')) {

											<div>{{ form.get('aadhar')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--PAN-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['pan'].error}">
									<label for="pan" [ngClass]="form.get('pan')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>PAN</span>

										@if (formData['pan'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="pan" placeholder="Please Enter PAN" oninput="this.value = this.value.toUpperCase()" formControlName="pan" [ngClass]="{'is-invalid': formSubmitHandler && f['pan'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['pan'].errors) {
										<div class="invalid-feedback">

											@if (f['pan'].errors['pattern']) {

											<div>Please Enter Valid PAN</div>

											}

											@if (f['pan'].errors['required']) {

											<div>Please Enter PAN</div>

											}

											@if (f['pan'].errors['minlength']) {

											<div>Please Enter Valid 10 Alphanumeric PAN</div>

											}

											@if (f['pan'].errors['maxlength']) {

											<div>You Have Entered More than 10 Alphanumeric PAN</div>

											}

											@if (form.get('pan')?.hasError('backendError')) {

											<div>{{ form.get('pan')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!-- DOB -->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['dob'].error}">
									<label for="dob" [ngClass]="form.get('dob')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Date of Birth</span>

										@if (formData['dob'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<div class="row justify-content-between">
											<div class="col">
												<input type="date" class="form-control form-control-sm" id="dob" (input)="dobUpdate()" [max]="maxDate" [min]="minDate" placeholder="Please Enter Date Of Birth" formControlName="dob" [ngClass]="{'is-invalid': formSubmitHandler && f['dob'].errors}" [autocomplete]="0" />
											</div>
											<div class="col-auto row ps-0" style="max-width: 8.5625rem;">
												<div class="col">
													<div class="input-group input-group-sm">
														<input type="tel" class="form-control form-control-sm" id="age" formControlName="age" placeholder="Age" [ngClass]="{'is-invalid': formSubmitHandler && f['age'].errors}" [autocomplete]="0" />
														<span class="input-group-text">yrs</span>
													</div>

													@if (formSubmitHandler && f['age'].errors) {
													<div class="invalid-feedback">

														@if (f['age'].errors['required']) {

														<div>Please Enter PAN</div>

														}

														@if (form.get('age')?.hasError('backendError')) {

														<div>{{ form.get('age')?.getError('backendError') }}</div>

														}

													</div>

													}

												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Gender -->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['gender'].error}">
									<label for="gender" [ngClass]="form.get('gender')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Gender</span>

										@if (formData['gender'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<select class="form-select form-select-sm" formControlName="gender" [ngClass]="{'is-invalid': formSubmitHandler && f['gender'].errors}">
											<option selected value="" disabled>Select Gender</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
											<option value="Other">Other</option>
										</select>

										@if (formSubmitHandler && f['gender'].errors) {
										<div class="invalid-feedback">

											@if (f['gender'].errors['required']) {

											<div>Please Select Gender</div>

											}

											@if (form.get('gender')?.hasError('backendError')) {

											<div>{{ form.get('gender')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!-- Address -->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['address'].error}">
									<label for="address" [ngClass]="form.get('address')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Address</span>

										@if (formData['address'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<textarea autosize class="form-control form-control-sm" rows="2" placeholder="Enter Address" formControlName="address" [ngClass]="{'is-invalid': formSubmitHandler && f['address'].errors}" [autocomplete]="0"></textarea>

										@if (formSubmitHandler && f['address'].errors) {
										<div class="invalid-feedback">

											@if (f['address'].errors['required']) {

											<div>Please Enter Address</div>

											}

											@if (form.get('address')?.hasError('backendError')) {

											<div>{{ form.get('address')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!-- Pincode  -->
								<div class="row" [ngClass]="{'fieldError': formData['pincode'].error}">
									<label for="pincode" [ngClass]="form.get('pincode')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Pincode</span>

										@if (formData['pincode'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>

									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="tel" class="form-control form-control-sm" id="pincode" minlength="6" maxlength="6" placeholder="Enter Pincode" formControlName="pincode" [ngClass]="{'is-invalid': formSubmitHandler && f['pincode'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['pincode'].errors) {
										<div class="invalid-feedback">

											@if (f['pincode'].errors['pattern']) {

											<div>Please Enter Valid Pincode</div>

											}

											@if (f['pincode'].errors['required']) {

											<div>Please Enter Pincode</div>

											}

											@if (f['pincode'].errors['minlength']) {

											<div>Please Enter Valid 6 Digit Pincode</div>

											}

											@if (f['pincode'].errors['maxlength']) {

											<div>You Have Entered More than 6 Digits</div>

											}

											@if (form.get('pincode')?.hasError('backendError')) {

											<div>{{ form.get('pincode')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>
							</div>

							<div class="card-footer">
								<div class="text-center">
									<button type="submit" class="btn btn-primary btn-sm" [disabled]="!form.dirty">Update</button>
								</div>
							</div>

							}

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 col-xxl-8">
		@defer (on viewport) {

		<app-doc-modal [docsData]="docs"></app-doc-modal>

		} @error {

		<div class="alert alert-warning" role="alert">
			Loading Failed... Please contact administrator for more information
		</div>

		} @placeholder (minimum 1s){

		<div class="d-flex justify-content-center align-items-center display-3">
			<i class="fa-solid fa-spinner fa-spin-pulse"></i>
		</div>

		}
	</div>
</div>
