<div class="container-fluid p-0 form-control-container">
	<!-- <pre>{{formErrorData | json}}</pre> -->
	<div class="row">
		@if (isformFieldsAvailabel()) {
		<form class="col-12 col-sm-12 col-md-12 col-lg" [formGroup]="dynamicForm" (ngSubmit)="saveForm()" novalidate>
			<div class="card">
				<div class="card-header fw-bold bg-body-secondary bg-gradient d-flex justify-content-between">

					@if (formActivity=='add') {

					<span>Single Entry Form</span>

					} @else {

					@if(!submitBtnVisibility){
					<span>Readonly Details</span>

					} @else {
					<span>Edit Form</span>
					}

					}

					@if(backUrl){
					<a [routerLink]="[backUrl]" [queryParams]="backUrlParams" class="custom-link-btn">
						<i class="fa-solid fa-list"></i>
						<span class="desktop-view-only">Back To List</span>
					</a>
					}
				</div>
				<div class="card-body" style="max-height: calc(100svh - 15.75rem);overflow: auto; padding-bottom: 0;">
					<div class="row">

						@for (field of formFields; track field) {

						<!-- @let countPlustwo = field.type;
						{{countPlustwo}}<br /> -->

						@switch (field.type) {

						<!-- Text Type -->
						@case ('text') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<input matInput type="text" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>

							@if (field.validators.maxLength) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Max {{field.validators.maxLength}} characters</span>
								<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
							</mat-hint>
							}

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Email Type -->
						@case ('email') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<input matInput type="email" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}

							</mat-form-field>


							@if (field.validators.maxLength) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Max {{field.validators.maxLength}} characters</span>
								<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
							</mat-hint>
							}


							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}


							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['email']){

							<mat-error>
								Please Enter <strong>Valid Email Address</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Url Type -->
						@case ('url') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<input matInput type="url" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>


							@if (field.validators.maxLength) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Max {{field.validators.maxLength}} characters</span>
								<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
							</mat-hint>
							}


							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}


							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['pattern']){

							<mat-error>
								Please Enter <strong>Valid Url</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
							</mat-error>

							}

							}

						</div>
						}

						<!-- Numeric Type -->
						@case ('numeric') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<input matInput type="text" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['pattern']){

							<mat-error>
								Please Enter Valid Numeric <strong> {{field.label}}</strong> Value.
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Digit Numeric Value.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Digit Numeric Value.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Custom Numeric Type -->
						@case ('customNumber') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<input matInput type="number" max="{{field.validators.max}}" min="{{field.validators.min}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>


							@if (field.validators.max) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Min {{field.validators.min}}</span>
								<span>Max {{field.validators.max}}</span>
							</mat-hint>
							}


							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['pattern']){

							<mat-error>
								Please Enter Valid Numeric <strong> {{field.label}}</strong> Value.
							</mat-error>

							}

							@if(f[field.name].errors?.['min']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.min}}</strong> {{field.label}} Value.
							</mat-error>

							}

							@if(f[field.name].errors?.['max']){

							<mat-error>
								Please Enter Less Than Or Equal to <strong>{{field.validators.max}}</strong> {{field.label}} Value.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Custom Numeric Max 100 Type -->
						@case ('customNumberMax100') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}



								<input matInput type="number" max="{{field.validators.max}}" min="{{field.validators.min}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">



								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>


							@if (field.validators.max) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Min {{field.validators.min}}</span>
								<span>Max {{field.validators.max}}</span>
							</mat-hint>
							}


							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['pattern']){

							<mat-error>
								Please Enter Valid Numeric <strong> {{field.label}}</strong> Value.
							</mat-error>

							}

							@if(f[field.name].errors?.['min']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.min}}</strong> {{field.label}} Value.
							</mat-error>

							}

							@if(f[field.name].errors?.['max']){

							<mat-error>
								Please Enter Less Than Or Equal to <strong>{{field.validators.max}}</strong> {{field.label}} Value.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Custom Pattern Text Type -->
						@case ('customPatternText') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}



								<input matInput type="text" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">



								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>
							<!-- {{field.validators.pattern}} -->
							@if (field.validators.maxLength) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Max {{field.validators.maxLength}} characters</span>
								<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
							</mat-hint>
							}

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['pattern']){

							<mat-error>
								Please Enter Valid <strong> {{field.label}}</strong> Data.
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Value Data.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Value Data.
							</mat-error>

							}

							}

						</div>
						}

						<!-- Mobile No Code Type -->
						@case ('mobileNoCode') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-mobile-country-code-textfield [formActivity]="formActivity" [componentData]="field"></app-mobile-country-code-textfield>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}

						</div>

						}

						<!-- Mobile No Type -->
						@case ('mobileNo') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<input matInput type="tel" maxlength="{{field.validators.maxLength}}" minlength="{{field.validators.minLength}}" [readonly]="field.validators.readonly" [formControlName]="field.name" autocomplete="disabled">


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if (field.validators.maxLength) {
							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Max {{field.validators.maxLength}} Digits</span>
								<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
							</mat-hint>
							}


							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['pattern']){

							<mat-error>
								Please Enter Valid <strong>{{field.validators.maxLength}}</strong> Digit Mobile No.
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Digit Mobile No.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Digit Mobile No.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Single Select Type -->
						@case ('select') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-select-with-search [formActivity]="formActivity" [componentData]="field" [optionData]="componentOptionDataFromParent" (selectionUpdate)="onSelectionChange($event)" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-select-with-search>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}

						</div>

						}

						<!-- Multi Select Type -->
						@case ('multiselect') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-multiselect-with-search [formActivity]="formActivity" [componentData]="field" [optionData]="componentOptionDataFromParent" (selectionUpdate)="onSelectionChange($event)" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-multiselect-with-search>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}
						</div>
						}

						<!-- Radio Type -->
						@case ('radio') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">

							<section class="example-section" style="padding: 0.438rem 1rem;" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label class="upsideLabel">{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>

								<mat-radio-group aria-label="Select an option" [formControlName]="field.name" [id]="field.name" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">

									@for (option of field.options; track option.value) {

									<mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>

									}

								</mat-radio-group>

							</section>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}
						</div>

						}

						<!-- Checkbox Type -->
						@case ('checkbox') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label class="upsideLabel">{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<app-checkbox [componentData]="field" (checkboxUpdate)="onCheckboxUpdate($event)" [optionData]="componentOptionDataFromParent" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-checkbox>
							</section>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}
						</div>

						}

						<!-- Checkbox Group Type -->
						@case ('checkboxGroup') {

						<div class="col-12 col-sm-12 col-md-12 mb-4 col-lg-12 col-xl-12 col-xxl-12">

							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}


									@if(dynamicFormSubmitHandler && f[field.name].errors){

									@if(f[field.name].errors?.['required']){

									<mat-error class="m-0">
										{{field.label}} is <strong>required</strong>
									</mat-error>

									}

									}

								</mat-label>


								@if(dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid){
								<mat-error style="padding: 0 0.375rem;">Please Check Atleast One Checkbox</mat-error>
								}

								@if(dynamicForm.get(field.name)?.hasError('backendError')){

								<mat-error>
									{{ dynamicForm.get(field.name)?.getError('backendError') }}
								</mat-error>

								}

								<app-checkbox-group [componentData]="field" (checkboxUpdate)="onCheckboxUpdate($event)" [optionData]="componentOptionDataFromParent" (childOptionUpdateByParentId)="getChildDlOptionsByParentId($event)"></app-checkbox-group>
							</section>
						</div>

						}

						<!-- Textarea Type -->
						@case ('textarea') {
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
							<mat-form-field appearance="outline" class="example-full-width" [ngClass]="field.validators.readonly? 'mdc-text-field--readonly':''">
								<mat-label>{{field.label}}</mat-label>
								@if(field.prefix!= undefined && field.prefix.type == 'text'){
								<span matTextPrefix>{{field.prefix.value}}&nbsp;&nbsp;</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'icon') {
								<span matTextPrefix>
									<i [class]="field.prefix.value"></i>&nbsp;&nbsp;
								</span>
								}

								@if(field.prefix!= undefined && field.prefix.type == 'matIcon') {
								<mat-icon matPrefix>{{field.prefix.value}}</mat-icon>
								}


								<textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" [readonly]="field.validators.readonly" [formControlName]="field.name" [placeholder]="'Please Enter '+field.label"></textarea>


								@if(field.suffix!= undefined && field.suffix.type == 'text'){
								<span matTextSuffix>&nbsp;&nbsp;{{field.suffix.value}}</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'icon') {
								<span matTextSuffix>
									&nbsp;&nbsp;<i [class]="field.suffix.value"></i>
								</span>
								}

								@if(field.suffix!= undefined && field.suffix.type == 'matIcon') {
								<mat-icon matSuffix>{{field.suffix.value}}</mat-icon>
								}
							</mat-form-field>

							@if (field.validators.maxLength) {

							<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
								<span>Max {{field.validators.maxLength}} characters</span>
								<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
							</mat-hint>

							}

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							@if(f[field.name].errors?.['maxlength']){

							<mat-error>
								Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
							</mat-error>

							}

							@if(f[field.name].errors?.['minlength']){

							<mat-error>
								Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
							</mat-error>

							}

							}

						</div>

						}

						<!-- Date Type -->
						@case ('date') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-date [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (dateUpdate)="onDateUpdate($event)"></app-date>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}

						</div>

						}

						<!-- Time Type -->
						@case ('time') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-time [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (timeUpdate)="onDateUpdate($event)"></app-time>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}
						</div>

						}

						<!-- Date Range Type -->
						@case ('daterange') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-date-range [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (dateUpdate)="onDateUpdate($event)"></app-date-range>

							@if(dynamicForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicFormSubmitHandler && f[field.name].errors){

							@if(f[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}

							}
						</div>

						}

						<!--  Single File Upload Type -->
						@case ('file') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-file-upload [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (fileUpdate)="onFileUpdate($event)"></app-file-upload>
						</div>

						}

						<!--  Multiple File Upload Type -->
						@case ('multifile') {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<app-multiple-file-upload [componentData]="field" [errorClass]="dynamicFormSubmitHandler && f[field.name].errors?.['required']" (fileUpdate)="onFileUpdate($event)"></app-multiple-file-upload>
						</div>

						}

						<!-- Basic Editor Type -->
						@case ('basicEditor') {
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<app-ng-basic-editor [componentData]="field" [componentFormData]="dynamicForm.value" [channelId]="channelId" [channelName]="channelName" (editorContent)="getEditorData($event)" />

								@if (field.validators.maxLength) {

								<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
									<span>Max {{field.validators.maxLength}} characters</span>
									<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
								</mat-hint>

								}

								@if(dynamicForm.get(field.name)?.hasError('backendError')){

								<mat-error>
									{{ dynamicForm.get(field.name)?.getError('backendError') }}
								</mat-error>

								}

								@if(dynamicFormSubmitHandler && f[field.name].errors){

								@if(f[field.name].errors?.['required']){

								<mat-error>
									{{field.label}} is <strong>required</strong>
								</mat-error>

								}

								@if(f[field.name].errors?.['maxlength']){

								<mat-error>
									Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
								</mat-error>

								}

								@if(f[field.name].errors?.['minlength']){

								<mat-error>
									Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
								</mat-error>

								}

								}
							</section>
						</div>
						}

						<!-- Standard Editor Type -->
						@case ('standardEditor') {
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<app-ng-standard-editor [componentData]="field" [componentFormData]="dynamicForm.value" [channelId]="channelId" [channelName]="channelName" (editorContent)="getEditorData($event)" />

								@if (field.validators.maxLength) {

								<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
									<span>Max {{field.validators.maxLength}} characters</span>
									<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
								</mat-hint>

								}

								@if(dynamicForm.get(field.name)?.hasError('backendError')){

								<mat-error>
									{{ dynamicForm.get(field.name)?.getError('backendError') }}
								</mat-error>

								}

								@if(dynamicFormSubmitHandler && f[field.name].errors){

								@if(f[field.name].errors?.['required']){

								<mat-error>
									{{field.label}} is <strong>required</strong>
								</mat-error>

								}

								@if(f[field.name].errors?.['maxlength']){

								<mat-error>
									Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
								</mat-error>

								}

								@if(f[field.name].errors?.['minlength']){

								<mat-error>
									Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
								</mat-error>

								}

								}
							</section>
						</div>
						}

						<!-- Pro Editor Type -->
						@case ('proEditor') {
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<app-ng-pro-editor [componentData]="field" [componentFormData]="dynamicForm.value" [channelId]="channelId" [channelName]="channelName" (editorContent)="getEditorData($event)" />

								@if (field.validators.maxLength) {

								<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
									<span>Max {{field.validators.maxLength}} characters</span>
									<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
								</mat-hint>

								}

								@if(dynamicForm.get(field.name)?.hasError('backendError')){

								<mat-error>
									{{ dynamicForm.get(field.name)?.getError('backendError') }}
								</mat-error>

								}

								@if(dynamicFormSubmitHandler && f[field.name].errors){

								@if(f[field.name].errors?.['required']){

								<mat-error>
									{{field.label}} is <strong>required</strong>
								</mat-error>

								}

								@if(f[field.name].errors?.['maxlength']){

								<mat-error>
									Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
								</mat-error>

								}

								@if(f[field.name].errors?.['minlength']){

								<mat-error>
									Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
								</mat-error>

								}

								}
							</section>
						</div>
						}

						<!-- Elite Editor Type -->
						@case ('eliteEditor') {
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<app-ng-elite-editor [componentData]="field" [componentFormData]="dynamicForm.value" [channelId]="channelId" [channelName]="channelName" (editorContent)="getEditorData($event)" />

								@if (field.validators.maxLength) {

								<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
									<span>Max {{field.validators.maxLength}} characters</span>
									<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
								</mat-hint>

								}

								@if(dynamicForm.get(field.name)?.hasError('backendError')){

								<mat-error>
									{{ dynamicForm.get(field.name)?.getError('backendError') }}
								</mat-error>

								}

								@if(dynamicFormSubmitHandler && f[field.name].errors){

								@if(f[field.name].errors?.['required']){

								<mat-error>
									{{field.label}} is <strong>required</strong>
								</mat-error>

								}

								@if(f[field.name].errors?.['maxlength']){

								<mat-error>
									Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
								</mat-error>

								}

								@if(f[field.name].errors?.['minlength']){

								<mat-error>
									Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
								</mat-error>

								}

								}
							</section>
						</div>
						}

						<!-- Text Editor Type -->
						@case ('textEditor') {
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
							<section class="example-section" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">
								<mat-label>{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<!-- <app-text-editor [componentData]="field" (editorContent)="getEditorData($event)" /> -->
								<app-text-editor [componentData]="field" [componentFormData]="dynamicForm.value" [channelId]="channelId" [channelName]="channelName" (editorContent)="getEditorData($event)" />

								<!-- <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" [readonly]="field.validators.readonly" [formControlName]="field.name" [placeholder]="'Please Enter '+field.label"></textarea> -->

								@if (field.validators.maxLength) {

								<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
									<span>Max {{field.validators.maxLength}} characters</span>
									<span>{{dynamicForm.get(field.name)?.value.length}}/{{field.validators.maxLength}}</span>
								</mat-hint>

								}

								@if(dynamicForm.get(field.name)?.hasError('backendError')){

								<mat-error>
									{{ dynamicForm.get(field.name)?.getError('backendError') }}
								</mat-error>

								}

								@if(dynamicFormSubmitHandler && f[field.name].errors){

								@if(f[field.name].errors?.['required']){

								<mat-error>
									{{field.label}} is <strong>required</strong>
								</mat-error>

								}

								@if(f[field.name].errors?.['maxlength']){

								<mat-error>
									Please Enter Less Than <strong>{{field.validators.maxLength}}</strong> Characters.
								</mat-error>

								}

								@if(f[field.name].errors?.['minlength']){

								<mat-error>
									Please Enter At Least <strong>{{field.validators.minLength}}</strong> Characters.
								</mat-error>

								}

								}
							</section>
						</div>

						}


						@default {

						<div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols">
							<div class="alert alert-danger d-flex align-items-center gap-2" role="alert" style="--bs-alert-border-color: var(--main-card-bg-color);">
								<i class="fa-solid fa-triangle-exclamation"></i>
								<div>
									<strong>{{field.type | titlecase}}</strong> Component Not Found!
								</div>
							</div>
						</div>

						}

						}

						}

					</div>
				</div>

				@if(submitBtnVisibility){
				<div class="card-footer" style="padding-block:0.875rem;">
					<button type="submit" class="btn btn-primary btn-sm" [disabled]="valueSubmitting || !dynamicForm.dirty">
						<!-- <button type="submit" [disabled]="valueSubmitting" class="btn btn-primary btn-sm"> -->

						@if (formActivity=='edit') {

						@if (valueSubmitting) {

						<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
						<span role="status">Updating...</span>

						} @else {Update}

						} @else {

						@if (valueSubmitting) {

						<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
						<span role="status">Submitting...</span>

						} @else {Submit}

						}
					</button>
				</div>
				}
			</div>
		</form>
		}


		@if(isformFieldsAvailabel() && isBulkInsertAvailabel()){
		<div class="col-lg-12 col-xxl-auto">
			<div class="orDividerVertical">
				<div class="col space"></div>
				<span class="col-auto px-2">OR</span>
				<div class="col space"></div>
			</div>

			<div class="orDivider">
				<div class="col space"></div>
				<span class="col-auto px-2">OR</span>
				<div class="col space"></div>
			</div>
		</div>
		}

		@if (isBulkInsertAvailabel()) {

		<!-- <div class="col-12 col-sm-12 col-md-12 mb-4" [ngClass]="!isBulkInsertAvailabel() ?  cols: cols" -->
		<form class="col-12 col-sm-12 col-md-12 " [ngClass]="!isformFieldsAvailabel() ? 'col-lg-12': 'col-lg-auto'" [ngStyle]="{			
			'margin': !isformFieldsAvailabel() ? '0 auto': null,
			'max-width': !isformFieldsAvailabel() ? '600px': null

		}" style="display: flex;" [formGroup]="dynamicBulkForm" (ngSubmit)="saveBulkForm()" novalidate>
			<div class="card w-100">
				<div class="card-header fw-bold bg-body-secondary bg-gradient d-flex justify-content-between">

					<span>Bulk Entry</span>

					@if (!isformFieldsAvailabel()) {
					@if(backUrl){
					<a [routerLink]="[backUrl]" [queryParams]="backUrlParams" class="custom-link-btn">
						<i class="fa-solid fa-list"></i>
						<span class="desktop-view-only">Back To List</span>
					</a>
					}
					} @else {
					<a target="_blank" [href]="bulkDataComponent[0].downloadSampleFileUrl" [download]="bulkDataComponent[0].downloadSampleFileUrl" class="custom-link-btn"><i class="fa-solid fa-file-arrow-down"></i></a>
					}

				</div>
				<div class="card-body" style="max-height: calc(100svh - 15.75rem);overflow: auto; padding-bottom: 0;">
					<div class="row">
						@if (!isformFieldsAvailabel()) {
						<div class="col-xl-12 col-xxl mb-4">
							<div style="width: fit-content;margin: 0 auto;">
								<a type="button" class="btn btn-primary" style="max-width: 150px;padding: 1rem;" target="_blank" [href]="bulkDataComponent[0].downloadSampleFileUrl" [download]="bulkDataComponent[0].downloadSampleFileUrl">
									<div class="d-block display-6">
										<i class="fa-solid fa-file-arrow-down"></i>
									</div>
									<h6 class="m-0">Sample File</h6>
								</a>
							</div>
						</div>
						<div class="d-sm-none d-xl-none col-xxl-auto d-xxl-block mb-4">
							<div class="vr h-100"></div>
						</div>

						<div class="col-xl-12 d-xl-block d-xxl-none mb-4">
							<hr />
						</div>
						}

						@for (field of formBulkFields; track field.name) {

						@switch (field.type) {

						<!--  Single File Upload Type -->
						@case ('bulkInsert') {

						<div class="mb-4" [ngClass]="!isformFieldsAvailabel()? 'col align-self-center': 'col-xl-12'">
							<div style="margin: 0 auto;" [ngStyle]="{width: !isformFieldsAvailabel()? 'fit-content': '100%'}">
								<app-file-upload [componentData]="field" [errorClass]="dynamicFormBulkSubmitHandler && g[field.name].errors?.['required']" (fileUpdate)="onBulkFileUpdate($event)"></app-file-upload>

								@if (field.downloadErrorFileUrl) {

								<!-- <a [href]="field.downloadErrorFileUrl" [download]="field.downloadErrorFileUrl" class="btn btn-danger mt-2 btn-sm w-100"><i class="fa-solid fa-bug me-2"></i>Error File</a> -->


								<a (click)="downloadeErrorFile(field.downloadErrorFileUrl)" class="btn btn-danger mt-2 btn-sm w-100"><i class="fa-solid fa-bug me-2"></i>Error File</a>

								}
							</div>

						</div>
						}
						}
						}
					</div>
				</div>

				<div class="card-footer" style="padding-block:0.875rem;">
					<button type="submit" [disabled]="bulkValueSubmitting || !dynamicBulkForm.dirty" class="btn btn-primary btn-sm">

						@if (bulkValueSubmitting) {

						<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
						<span role="status">Submitting...</span>

						} @else {
						Submit
						}

					</button>
				</div>
			</div>
		</form>

		}

		@if (isformOtherFieldsAvailabel()) {
		<form class="col-12 col-sm-12 col-md-12 col-lg-auto" style="display: flex;max-width: 520px;" [formGroup]="dynamicOtherFieldsForm" (ngSubmit)="saveOtherForm()" novalidate>
			<div class="card w-100">
				<div class="card-header fw-bold bg-body-secondary bg-gradient d-flex justify-content-between">
					<span>Swapping Form</span>
				</div>
				<div class="card-body" style="max-height: calc(100svh - 15.75rem);overflow: auto; padding-bottom: 0;">
					<div class="row">

						@for (field of formOtherFields; track field.name) {

						@switch (field.type) {


						@case ('radio') {

						<div class="col-12 mb-4">
							<section class="example-section otherFieldsLabel" [ngClass]="{'is-invalid': dynamicOtherFieldsSubmitHandler && dynamicOtherFieldsForm.get(field.name)?.invalid}">
								<mat-label class="upsideLabel">{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
								<mat-radio-group aria-label="Select an option" [formControlName]="field.name" [id]="field.name" [ngClass]="{'is-invalid': dynamicFormSubmitHandler && dynamicForm.get(field.name)?.invalid}">

									@for (option of field.options; track option.value) {


									<mat-radio-button [value]="option.value" style="display: block !important;">{{ option.label }}</mat-radio-button>

									<div class="extraDetails"><i class="fa-solid fa-phone"></i> {{option.details.whPhone}}</div>
									<div class="extraDetails"><i class="fa-solid fa-warehouse" style="font-size: 75%;"></i> {{option.details.whCode != ''? option.details.whCode : '-'}}</div>
									<div class="extraDetails"><i class="fa-solid fa-location-dot"></i> {{option.details.whAddress}}</div>

									<!-- <pre>{{option.details | json}}</pre> -->
									}

								</mat-radio-group>
							</section>

							@if(dynamicOtherFieldsForm.get(field.name)?.hasError('backendError')){

							<mat-error>
								{{ dynamicOtherFieldsForm.get(field.name)?.getError('backendError') }}
							</mat-error>

							}

							@if(dynamicOtherFieldsSubmitHandler && dy[field.name].errors){

							@if(dy[field.name].errors?.['required']){

							<mat-error>
								{{field.label}} is <strong>required</strong>
							</mat-error>

							}
							}


						</div>
						}
						}
						}

					</div>
				</div>
				<div class="card-footer" style="padding-block:0.875rem;">
					<button type="submit" [disabled]="formOtherFieldsSubmitting || !dynamicOtherFieldsForm.dirty" class="btn btn-primary btn-sm">

						@if (formOtherFieldsSubmitting) {

						<span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
						<span role="status">Swapping...</span>

						} @else {Swap}

					</button>
				</div>
			</div>
		</form>
		}
	</div>
</div>