<div class="d-flex gap-4 align-items-start">
	<div class="card mb-3 w-100">
		<div class="card-header bg-gradient">
			<div class="d-flex justify-content-between">
				<span class="fw-bold">Elite Editor</span>
			</div>

			<div class="d-flex gap-2 align-items-center justify-content-between" style="margin-top: 6px;">
				@if(variableList.length> 0){
				<div class="d-flex gap-2 align-items-center flex-wrap" style="font-size: 0.875rem;">
					<span>Tags:</span>
					@for (item of variableList; track $index) {
					<button type="button" class="btn badge bg-gradient text-bg-primary" (click)="insertTag('{{'+item.name+'}}')">{{removeExtra(item.label)}}</button>
					}
				</div>
				} @else {
				<div class="d-flex gap-2 align-items-center flex-wrap" style="font-size: 0.875rem;">
					<span>Tags: Not Found</span>
				</div>
				}
				<div class="input-group input-group-sm w-auto">
					<input type="search" class="form-control form-control-sm" placeholder="Search Tags..." [(ngModel)]="searchVariable" style="max-width: 150px;" />
					<button type="button" class="btn btn-primary input-group-text" (click)="getVariableList(variableListApiUrl+'?name='+searchVariable)"><i class="fa-solid fa-magnifying-glass"></i></button>
					@if(searchVariable.length!=0){
					<button type="button" title="Reset" (click)="searchVariable = ''; getVariableList(variableListApiUrl+'?name='+searchVariable)" class="btn btn-danger btn-sm bg-gradient"><i class="fa-solid fa-rotate-right"></i></button>
					}
				</div>
			</div>

		</div>
		<div class="card-body p-0">
			<angular-editor #angularEditor [(ngModel)]="editorData" (ngModelChange)="onChange($event)" [config]="editorConfig">
			</angular-editor>
		</div>
		<div class="card-footer">
			<mat-hint class="d-flex justify-content-between" style="font-size: 0.75rem;margin: 0.125rem 0;">
				<span>Max 160 characters</span>
				<span>{{editorData.length}}/{{160}}</span>
			</mat-hint>
		</div>
	</div>

	@if(editorPreview){
	<div class="card bg-gradient mb-3" style="width: 411px; max-width: 100%;">
		<div class="card-header fw-bold text-bg-secondary bg-gradient d-flex justify-content-between">Preview & Test</div>
		<div class="card-body p-0" style="max-width: 100%; text-wrap: auto;">
			<app-data [data]="editorPreview" />
		</div>
		<div class="card-footer">
			<form [formGroup]="testForm" (ngSubmit)="submit()" novalidate>
				<div class="mb-2">
					<input type="tel" class="form-control form-control-sm" id="mobileNo" placeholder="Mobile No." formControlName="mobileNo" [ngClass]="{'is-invalid': testFormSubmitHandler && f['mobileNo'].errors}">
					@if (testFormSubmitHandler && f['mobileNo'].errors) {
					<div class="invalid-feedback">
						@if (f['mobileNo'].errors['required']) {
						<div>Please Enter Mobile No.</div>
						}
						@if (f['mobileNo'].errors['pattern']) {
						<div>Please Enter Valid Mobile No.</div>
						}
						@if (f['mobileNo'].errors['minlength']) {
						<div>Please Enter Valid 10 Digit Phone No.</div>
						}
						@if (f['mobileNo'].errors['maxlength']) {
						<div>Please Enter Valid 10 Digit Mobile No.</div>
						}
					</div>
					}
				</div>
				<div class="mb-2">
					<input type="email" class="form-control form-control-sm" id="email" placeholder="Email Address" maxlength="145" minlength="6" formControlName="email" [ngClass]="{'is-invalid': testFormSubmitHandler && f['email'].errors}" [autocomplete]="0" />
					@if (testFormSubmitHandler && f['email'].errors) {
					<div class="invalid-feedback">
						@if (f['email'].errors['required']) {
						<div>Please Enter Email Address</div>
						}
						@if (f['email'].errors['email']) {
						<div>Please Enter Valid Email Address</div>
						}
						@if ( f['email'].errors['minlength']) {
						<div>Please Enter Minimum 6 Characters Email Address</div>
						}
						@if (f['email'].errors['maxlength']) {
						<div>Please Enter Maximum 145 Characters Email Address</div>
						}
					</div>
					}
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Send</button>
			</form>
		</div>
	</div>
	}
</div>