<form [formGroup]="dynamicForm" novalidate>
	<mat-form-field class="example-full-width" appearance="outline" (click)="picker.open()" [ngClass]="{'mdc-text-field--invalid': errorClass}">
		<mat-label>{{componentData.label}}</mat-label>
		@if(componentData.prefix!= undefined && componentData.prefix.type == 'text'){
		<span matTextPrefix>{{componentData.prefix.value}}&nbsp;&nbsp;</span>
		}

		@if(componentData.prefix!= undefined && componentData.prefix.type == 'icon') {
		<span matTextPrefix>
			<i [class]="componentData.prefix.value"></i>&nbsp;&nbsp;
		</span>
		}

		@if(componentData.prefix!= undefined && componentData.prefix.type == 'matIcon') {
		<mat-icon matPrefix>{{componentData.prefix.value}}</mat-icon>
		}


		<input matInput [matDatepicker]="picker" [formControlName]="componentData.name" (dateInput)="addEvent($event)">


		@if(componentData.suffix!= undefined && componentData.suffix.type == 'text'){
		<span matTextSuffix>&nbsp;&nbsp;{{componentData.suffix.value}}</span>
		}

		@if(componentData.suffix!= undefined && componentData.suffix.type == 'icon') {
		<span matTextSuffix>
			&nbsp;&nbsp;<i [class]="componentData.suffix.value"></i>
		</span>
		}

		@if(componentData.suffix!= undefined && componentData.suffix.type == 'matIcon') {
		<mat-icon matSuffix>{{componentData.suffix.value}}</mat-icon>
		}
		<mat-hint style="font-size: 0.75rem;margin: 0.125rem 0;"> {{componentData.validators?.dateFormat}}</mat-hint>
		<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
</form>