@if(pageData!= undefined){
<form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>
	<div class="wrapper">
		<div class="card">
			<div class="card-body">
				<div class="head">
					<i class="fa-solid fa-user"></i>
					<span>Name</span>
				</div>
				<div class="body-text">
					{{pageData.name.value}} (@if(pageData.type!= undefined){{{pageData.type.value | formatText}}})
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<div class="head">
					<i class="fa-solid fa-building-wheat"></i>
					<span>Commodities</span>
				</div>
				<div class="body-text">
					@for (item of pageData.commodities.value; track $index) {
					{{item}}{{ $index < pageData.commodities.value.length - 1 ? ', ' : '' }} } </div>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<div class="head">
						<i class="fa-solid fa-phone"></i>
						<span>Contact</span>
					</div>
					<div class="body-text">
						<div>{{pageData.phone.value}}</div>
					</div>

				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="head">
						<i class="fa-solid fa-location-dot"></i>
						<span>Address</span>
					</div>
					<div class="body-text">
						{{pageData.address.value}}
						<!-- {{pageData.city.value!= null? ", "+ pageData.city.value: null}} {{pageData.city.value!= null? " - "+ pageData.pincode.value: null}} -->
					</div>
				</div>
			</div>
		</div>

		<div class="m-0 mb-4 orDivider">
			<div class="col space"></div>
			<span class="col-auto px-2 d-flex" title="Avaibility">
				<span class="badge text-bg-danger" style="line-height: normal;">Note: Make your decision below</span>
			</span>
			<div class="col space"></div>
		</div>
		<div class="row my-4">
			<div class="col-12 mb-3">
				<!-- {{form.get('action')?.value| json}}<br><br> -->


				@for (field of formFields; track $index) {
				<section class="example-section" [ngClass]="{'is-invalid': formSubmitHandler && form.get(field.name)?.invalid}">
					<mat-label class="upsideLabel">{{field.label}} @if(field.validators.required) {<span>*</span>}</mat-label>
					<mat-radio-group aria-label="Select an option" (change)="getcheckboxValue($event)" [formControlName]="field.name" [id]="field.name+$index" [ngClass]="{'is-invalid': formSubmitHandler && form.get(field.name)?.invalid}">

						@for (option of field.options; track option.value) {

						<mat-radio-button [value]="option.value">{{ option.label }}</mat-radio-button>

						}

					</mat-radio-group>

				</section>

				@if(formSubmitHandler && f[field.name].errors){

				@if(f[field.name].errors?.['required']){

				<mat-error>
					{{field.label}} is <strong>required</strong>
				</mat-error>

				}

				}
				}

			</div>

			@if(form.get('action')?.value== 1){
			<div class="col-12 mb-3">
				<label for="Comment" class="form-label">
					<span>Comment</span> <span class="required ms-1" [title]="'Required'">*</span>

				</label>
				<textarea autosize class="form-control form-control-sm" rows="3" placeholder="Enter Comments" formControlName="comments" [ngClass]="{'is-invalid': formSubmitHandler && f['comments'].errors}" [autocomplete]="0"></textarea>

				@if (formSubmitHandler && f['comments'].errors) {
				<div class="invalid-feedback">

					@if (f['comments'].errors['required']) {

					<div>Please Enter Comments</div>

					}

				</div>

				}
			</div>
			} @else if (form.get('action')?.value== 0) {
			<div class="col-12 mb-3">
				<label for="rejectionReasonId" class="form-label">
					<span>Rejection Reason</span>

					<span class="required ms-1" [title]="'Required'">*</span>

				</label>
				<select class="form-select form-select-sm" id="rejectionReasonId" formControlName="rejectionReasonId" [ngClass]="{'is-invalid': formSubmitHandler && f['rejectionReasonId'].errors}">
					<option selected value="" disabled>Select Reason</option>

					@for (options of rejectionReasonList; track $index) {
					<option [value]="options.value">{{options.label}}</option>
					}
				</select>
				@if (formSubmitHandler && f['rejectionReasonId'].errors) {
				<div class="invalid-feedback">

					@if (f['rejectionReasonId'].errors['required']) {

					<div>Please Select Rejection Reason</div>

					}

				</div>

				}
			</div>
			} @else {

			}


		</div>

		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-sm" [disabled]="!form.dirty">Submit</button>
		</div>

</form>
}
