.head {
	// color: rgba(var(--bs-link-color-rgb), 0.4);
	color: var(--bs-secondary-color);
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 10px;

	i {
		color: rgba(var(--bs-link-color-rgb), 1);
	}
}

.body-text {
	font-size: 1.2rem;
	font-weight: 600;
}


.wrapper {
	display: grid;
	// grid-template-columns: repeat(4, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	// grid-template-rows: auto auto;
	margin-bottom: 2rem;
	gap: 2rem;

	.card {
		display: grid;
		grid-template-rows: subgrid;
		// grid-row: 1/2;
		grid-row: span 1;
	}
}
