.slotBtn {

	--bs-btn-padding-y: .25rem;
	--bs-btn-padding-x: .5rem;
	--bs-btn-font-size: 0.625rem;
	--bs-btn-disabled-opacity: 0.3;
	// --bs-btn-color: inherit;
	// --bs-btn-bg: inherit;
}

.slotBtnDisabled {

	--bs-btn-padding-y: .25rem;
	--bs-btn-padding-x: .5rem;
	--bs-btn-font-size: 0.625rem;
	--bs-btn-disabled-opacity: 0.3;
}


.calendarDate {
	.dateMonth {
		display: block;
		background-color: var(--bs-primary);
		color: #ffffff;
		padding: 0.5rem;
		border-radius: 6px;
		line-height: 1.5rem;
		text-align: center;
		font-size: 1.5rem;
		max-width: 80px;
		margin: 0 auto 0px;
	}

	.month {
		font-size: 1rem;
		color: #ffffff;
		display: block;
		line-height: normal;
	}

	.year {
		display: block;
		text-align: center;
		font-weight: bold;
		font-size: 1.5rem;
		color: var(--bs-link-color);
	}

}

::ng-deep {

	.card {
		--bs-card-cap-padding-y: 0.25rem;
		--bs-card-cap-padding-x: 0.5rem;
		--bs-card-spacer-y: 0.5rem;
		--bs-card-spacer-x: 0.5rem;
	}

	.contentTable {

		th {
			text-align: center;
		}

		td {
			.card {
				background-color: #ffffff;
				// --bs-secondary-rgb: 55, 55, 55;
				--bs-secondary-rgb: 127, 132, 155;
				transition: all 100ms ease-in;
				top: 3px;

				box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


				&:not(.text-bg-secondary) {

					&:not(.assigned) {

						.card-header {
							background-color: var(--bs-gray-400);
						}

						&:hover {
							// background-color: rgba(var(--bs-primary-rgb), 0.10);
							box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
							top: 0px;
						}
					}
				}


				&:last-of-type {
					margin-bottom: 0 !important;
				}

				&.assigned,
				&.text-bg-secondary {
					background-color: RGBA(var(--bs-secondary-rgb), var(--bs-bg-opacity, 1)) !important;

					.card-header,
					.card-body {
						color: rgba(255, 255, 255, 0.7);

					}
				}
			}
		}
	}


	[data-bs-theme=dark] {
		.contentTable {

			td {
				.card {
					background-color: transparent;
					--bs-secondary-rgb: 108, 117, 125;
					box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

					&:not(.text-bg-secondary) {

						&:not(.assigned) {

							.card-header {
								background-color: rgba(142, 154, 224, 0.2);
							}

							&:hover {
								// background-color: rgba(255, 255, 255, 0.05);

								box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

								// box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 15px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
							}
						}
					}
				}
			}
		}

	}
}