.form-control,
.form-select {
	--bs-border-color: #494f56;

	border-color: var(--bs-border-color)
}

.table {

	thead,
	tbody {
		tr {

			th,
			td {
				padding: 0.5rem 0.75rem;
				vertical-align: middle;
				padding-inline: 0.75rem !important;
			}
		}
	}

	thead {
		tr {
			th {
				padding: 0.5rem 0.75rem !important;
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	.card {
		.card-body {
			max-height: calc(100svh - 13.25rem) !important;
		}
	}

	.table-responsive-lg {
		margin: 0 -1rem !important;
	}



	.table {
		display: block;
		border: none !important;

		>*,
		tr,
		td,
		th {
			display: block;
		}

		thead {
			display: none;
		}


		thead {
			tr {
				th {

					&:first-of-type {
						padding-left: 1.5rem !important;
					}

					&:last-of-type {
						padding-right: 1.5rem !important;
					}
				}
			}
		}

		tbody {
			tr {
				border-radius: 0.625rem;
				height: auto;
				border-color: var(--main-body-color);
				border-width: 0;
				padding: 0;
				overflow: hidden;
				margin-top: 1rem;


				&:nth-of-type(even) {
					td {
						background-color: var(--main-card-bg-color) !important;
					}
				}

				td {
					padding-left: 35% !important;
					margin-bottom: 0;
					border: none;
					// width: initial !important;
					min-width: 100%;
					position: relative;
					border-bottom: solid 0.0625rem var(--bs-border-color);


					.justify-content-center {
						justify-content: flex-start !important;
					}

					&.tableDataTh {
						background-image: var(--bs-gradient) !important;
						background-color: rgba(var(--bs-primary-rgb), 1) !important;
						color: var(--bs-white) !important;
					}

					&:before {
						content: attr(data-th);
						position: absolute;
						width: calc(35% - 1.5rem);
						overflow-wrap: break-word;
						left: 0.75rem;
						top: 0.5rem;
						font-weight: bold;
					}

					&:last-child {
						width: 100%;
						margin-bottom: 0;
						border: none;
					}

					&:first-of-type,
					&:last-of-type {
						padding-left: 35% !important;
					}
				}

				&:first-of-type {
					border-top: solid 0.0625rem var(--bs-border-color);
				}
			}
		}
	}


}

// .form-floating>.form-select~label {
// 	transform: none;
// }

.form-floating>.form-select~label {
	transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}


// .form-floating {
// 	label {
// 		transform: none;
// 	}

// 	.form-select:valid(~ label) {
// 		transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
// 	}
// }




::ng-deep :root .checkboxGroupBody .mat-mdc-checkbox label,
[data-bs-theme=light] .checkboxGroupBody .mat-mdc-checkbox label {
	width: 215px;
	min-width: auto;
}


.mat-mdc-form-field-error {
	display: block;
	color: var(--mat-form-field-error-text-color);
}

.tableFieldFlex {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 170px;
	gap: 0.5rem
}

@media screen and (max-width: 1500px) {

	.tableFieldFlex {
		display: flex;
		flex-direction: column;
		min-width: 100px;
	}
}
