<div class="d-flex justify-content-between align-items-center gap-2" style="flex-wrap: nowrap;overflow: auto;padding: 0 0.0625rem;">
	<div class=" col-auto">

		@if (totalRecords > recordsPerPage) {

		<nav aria-label="page navigation">
			<ngb-pagination (pageChange)="pageChange($event)" [collectionSize]="totalRecords" [(page)]="activePage" [maxSize]="5" [rotate]="true" [boundaryLinks]="false" [pageSize]="recordsPerPage">

				<ng-template ngbPaginationFirst>First</ng-template>
				<ng-template ngbPaginationLast>Last</ng-template>
				<ng-template ngbPaginationPrevious>
					<span aria-hidden="true" class="mobile-view-only">«</span>
					<span class="desktop-view-only">Prev</span>
				</ng-template>
				<ng-template ngbPaginationNext>
					<span class="desktop-view-only">Next</span>
					<span aria-hidden="true" class="mobile-view-only">»</span>
				</ng-template>
				<ng-template ngbPaginationEllipsis>...</ng-template>
				<ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
			</ngb-pagination>
		</nav>

		}



	</div>
	<div class="col-auto">
		<!-- {{totalRecords}} -->
		<div class="input-group input-group-sm">
			{{pageSize}}
			<select (change)="pageSizeChange($event)" class="form-select">

				@for (size of pageSizeList; track size) {

				<option [ngValue]="size" [selected]="recordsPerPage == size">
					{{ size }}
				</option>

				}

			</select>
			<span class="input-group-text">Rows<span class="desktop-view-only ms-1">Per Page</span></span>
		</div>
	</div>
</div>
