.btn.btn-danger {
	border: var(--bs-border-width) solid var(--bs-border-color);
}

.overlay-failed {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgb(255 0 0 / 30%);
	z-index: 499;
}

.overlay-approved {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgb(25 135 84 / 30%);
	z-index: 499;
}

.card {
	.table {
		tbody {
			tr {
				td {
					background-color: transparent !important;
				}

				&:last-of-type {
					td {
						border-bottom: 0;
					}
				}
			}
		}

	}
}
