<div class="container py-5">
  <form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>
    <div class="row">
      <div class="col-xl-3">

        <select class="form-select mb-3" formControlName="selectbox" [ngClass]="{'is-invalid': formSubmitHandler && f['selectbox'].errors}">
          <option selected value="" disabled>Select selectbox</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        @if (formSubmitHandler && f['selectbox'].errors) {
          <div class="invalid-feedback">
            @if (f['selectbox'].errors['required']) {
              <div>Please Select Selectbox</div>
            }
          </div>
        }



        {{selectValue}}<br>
        {{selectLabel}}
        <div class="dropdown">
          <button class="form-select w-100 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">

            {{(selectValue!= undefined && selectLabel!= undefined)? selectLabel: 'Select'}}


          </button>
          <ul class="dropdown-menu w-100">
            <!-- <li><button type="button" class="dropdown-item">Action</button></li>
            <li>
              <hr class="dropdown-divider">
            </li> -->
            @for (data of dlList; track data) {

              <li><button type="button" (click)="onchange($event)" [ngClass]="getSelectedValue(data.value) ? 'active': ''" class="dropdown-item" [value]="data.value">{{data.label}}</button></li>

            }
            <!-- <li>
            <hr class="dropdown-divider">
          </li>
          <li><button type="button" class="dropdown-item">Separated link</button></li> -->
        </ul>
      </div>
    </div>
  </div>
</form>
</div>


<pre>{{sampleObj | json}}</pre><br><br><br>
<div>

  <h1>Flattened Object</h1>
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      @for (item of flattenedPersonWithoutDataPrefix; track item) {
        <tr>
          <td>{{ item.key }}</td>
          <td>{{ item.value }}</td>
        </tr>
      }
    </tbody>
  </table>

  @for (item of sampleObj; track item; let i = $index) {
    <div>
      <!-- <div>Index: {{ i }}</div> -->
      <div>Key: {{ item.key }} , Value: {{ item.value }}</div>
      <!-- <div>Value: {{ item.value }}</div> -->
      <br>
      </div>
    }

  </div>
