<div class="d-flex justify-content-between align-items-center stickyHeader" style="overflow: hidden;">
	<h5 class="m-0" style="display: flex;align-items: center;gap: 0.75rem;">
		<a [routerLink]="['/finance-qa/company/list']" [queryParams]="backUrlParams" style="font-size: 80%;color: inherit;"><i class="fa-solid fa-arrow-left"></i> </a>Company
	</h5>
</div>

<div class="row align-items-start" [@fade]>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-4">
		<form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>

			<div class="row" style="max-width:initial;">
				<div class="col-12">
					<div class="container-fluid p-0">
						<div class="card formCard mb-2" style="max-width: initial;">
							<div class="card-header bg-body-secondary bg-gradient">
								<h6 class=" m-0 d-flex gap-2 align-items-center"><i class="fa-regular fa-building"></i> Details</h6>
							</div>

							@if (formData!= undefined) {

							<div class="card-body">
								<!--Company Name-->
								<div class="mb-3 row">
									<label for="companyName" [ngClass]="form.get('companyName')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Company Name</span>

										@if (formData['companyName'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="companyName" placeholder="Please Enter Company Name" formControlName="companyName" [ngClass]="{'is-invalid': formSubmitHandler && f['companyName'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['companyName'].errors) {
										<div class="invalid-feedback">

											@if (f['companyName'].errors['required']) {

											<div>Please Enter Company Name</div>

											}

											@if (form.get('companyName')?.hasError('backendError')) {

											<div>{{ form.get('companyName')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Phone No.-->
								<div class="mb-3 row">
									<label for="phone" [ngClass]="form.get('phone')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Phone No.</span>
										@if (formData['phone'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<div formArrayName="phones">
											<div *ngFor="let phoneControl of phones.controls; let i = index" class="mb-2">
												<div class="input-group input-group-sm" [ngClass]="{'is-invalid': formSubmitHandler && phoneControl.errors}">
													<input type="text" class="form-control form-control-sm" [formControlName]="i" placeholder="Enter Phone Number" />
													<button class="btn btn-danger input-group-text" style="background-color: var(--bs-danger);border-color: var(--bs-danger);color: var(--bs-btn-color);" [disabled]="form.get('phones')?.value.length == 1" type="button" (click)="removePhone(i)"><i class="fa-solid fa-trash"></i></button>
												</div>
												<div *ngIf="phoneControl.invalid && (phoneControl.dirty || phoneControl.touched || formSubmitHandler)" class="invalid-feedback d-block">
													{{ getPhoneErrorMessage(phoneControl) }}
												</div>
											</div>
										</div>
										<button class="btn btn-primary btn-sm" [disabled]="form.get('phones')?.value.length > 7" type="button" (click)="addPhone('', true)" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; --bs-btn-disabled-opacity: 0.3;"><i class="fa-solid fa-plus"></i> Add More</button>
										<div *ngIf="phones.errors?.['atLeastOneRequired'] && (phones.touched || formSubmitHandler)" class="invalid-feedback d-block">
											At least one phone number is required.
										</div>
									</div>
								</div>

								<!--Business Entity Type-->
								<div class="mb-3 row">
									<label for="businessEntityType" [ngClass]="form.get('businessEntityType')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Business Entity Type</span>

										@if (formData['businessEntityType'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">

										<select class="form-select form-select-sm" formControlName="businessEntityType" [ngClass]="{'is-invalid': formSubmitHandler && f['businessEntityType'].errors}">
											<option selected value="" disabled>Select Type</option>
											<option value="C Corporation">C Corporation</option>
											<option value="Company">Company</option>
											<option value="Corporation">Corporation</option>
											<option value="Limited Liability Company (LLC)">Limited Liability Company (LLC)</option>
											<option value="Limited Liability Partnership (LLP)">Limited Liability Partnership (LLP)</option>
											<option value="Partnership">Partnership</option>
											<option value="Private Limited">Private Limited</option>
											<option value="Proprietorship">Proprietorship</option>
											<option value="Public Limited">Public Limited</option>
											<option value="S Corporation">S Corporation</option>
											<option value="Sole Proprietorship">Sole Proprietorship</option>
										</select>

										@if (formSubmitHandler && f['businessEntityType'].errors) {
										<div class="invalid-feedback">

											@if (f['businessEntityType'].errors['required']) {

											<div>Please Select Business Entity Type</div>

											}

											@if (form.get('businessEntityType')?.hasError('backendError')) {

											<div>{{ form.get('businessEntityType')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--License No.-->
								<div class="mb-3 row">
									<label for="licenseNo" [ngClass]="form.get('licenseNo')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>License No.</span>

										@if (formData['licenseNo'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="licenseNo" placeholder="Please Enter License No." formControlName="licenseNo" [ngClass]="{'is-invalid': formSubmitHandler && f['licenseNo'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['licenseNo'].errors) {
										<div class="invalid-feedback">

											@if (f['licenseNo'].errors['required']) {

											<div>Please Enter License No.</div>

											}

											@if (form.get('licenseNo')?.hasError('backendError')) {

											<div>{{ form.get('licenseNo')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!-- License Issue Date -->
								<div class="mb-3 row">
									<label for="licenseIssueDate" [ngClass]="form.get('licenseIssueDate')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>License Issue Date</span>

										@if (formData['licenseIssueDate'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="date" class="form-control form-control-sm" id="licenseIssueDate" [max]="getMinFutureDate()" [min]="getMaxBackDate()" formControlName="licenseIssueDate" [ngClass]="{'is-invalid': formSubmitHandler && f['licenseIssueDate'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['licenseIssueDate'].errors) {
										<div class="invalid-feedback">

											@if (f['licenseIssueDate'].errors['required']) {

											<div>Please Select License Issue Date</div>

											}

											@if (f['licenseIssueDate'].errors['min']) {

											<div>Date Must Be After {{ getMaxBackDate() | date:'dd-MMM-yyyy' }}</div>

											}

											@if (f['licenseIssueDate'].errors['max']) {

											<div>Date Must Be Before {{ getMinFutureDate() | date:'dd-MMM-yyyy' }}</div>

											}

											@if (form.get('licenseIssueDate')?.hasError('backendError')) {

											<div>{{ form.get('licenseIssueDate')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!-- License Expiry Date -->
								<div class="mb-3 row">
									<label for="licenseExpiryDate" [ngClass]="form.get('licenseExpiryDate')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>License Expiry Date</span>

										@if (formData['licenseExpiryDate'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="date" class="form-control form-control-sm" id="licenseExpiryDate" [min]="getRestrictBackDate()" [max]="getRestrictFutureDate()" formControlName="licenseExpiryDate" [ngClass]="{'is-invalid': formSubmitHandler && f['licenseExpiryDate'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['licenseExpiryDate'].errors) {
										<div class="invalid-feedback">

											@if (f['licenseExpiryDate'].errors['required']) {

											<div>Please Select License Expiry Date</div>

											}

											@if (f['licenseExpiryDate'].errors['min']) {

											<div>Date Must Be After {{ getRestrictBackDate() | date:'dd-MMM-yyyy' }}</div>

											}

											@if (f['licenseExpiryDate'].errors['max']) {

											<div>Date Must Be Before {{ getRestrictFutureDate() | date:'dd-MMM-yyyy' }}</div>

											}

											@if (form.get('licenseExpiryDate')?.hasError('backendError')) {

											<div>{{ form.get('licenseExpiryDate')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!-- Date of Incorporation -->
								<div class="mb-3 row">
									<label for="dateOfIncorporation" [ngClass]="form.get('dateOfIncorporation')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Date of Incorporation</span>

										@if (formData['dateOfIncorporation'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="date" class="form-control form-control-sm" id="dateOfIncorporation" [min]="getMaxBackDate()" [max]="getMinFutureDate()" formControlName="dateOfIncorporation" [ngClass]="{'is-invalid': formSubmitHandler && f['dateOfIncorporation'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['dateOfIncorporation'].errors) {
										<div class="invalid-feedback">

											@if (f['dateOfIncorporation'].errors['required']) {

											<div>Please Select Date of Incorporation</div>

											}

											@if (f['dateOfIncorporation'].errors['min']) {

											<div>Date Must Be After {{ getMaxBackDate() | date:'dd-MMM-yyyy' }}</div>

											}

											@if (f['dateOfIncorporation'].errors['max']) {

											<div>Date Must Be Before {{ getMinFutureDate() | date:'dd-MMM-yyyy' }}</div>

											}

											@if (form.get('dateOfIncorporation')?.hasError('backendError')) {

											<div>{{ form.get('dateOfIncorporation')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!--Website-->
								<div class="mb-3 row">
									<label for="website" [ngClass]="form.get('website')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Website</span>

										@if (formData['website'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="website" placeholder="Please enter website URL" formControlName="website" [ngClass]="{'is-invalid': formSubmitHandler && f['website'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['website'].errors) {
										<div class="invalid-feedback">

											@if (f['website'].errors['pattern']) {

											<div>Please Enter Valid URL</div>

											}


											@if (f['website'].errors['required']) {

											<div>Please Enter Website URL</div>

											}

											@if (form.get('website')?.hasError('backendError')) {

											<div>{{ form.get('website')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Nationality-->
								<div class="mb-3 row">
									<label for="nationality" [ngClass]="form.get('nationality')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Nationality</span>

										@if (formData['nationality'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">

										<select class="form-select form-select-sm" formControlName="nationality" [ngClass]="{'is-invalid': formSubmitHandler && f['nationality'].errors}">
											<option selected value="" disabled>Select Nationality</option>
											<option value="Permanent Resident">Permanent Resident</option>
											<option value="Citizen">Citizen</option>
											<option value="Dual Citizenship">Dual Citizenship</option>
										</select>

										@if (formSubmitHandler && f['nationality'].errors) {
										<div class="invalid-feedback">

											@if (f['nationality'].errors['required']) {

											<div>Please Select Nationality</div>

											}

											@if (form.get('nationality')?.hasError('backendError')) {

											<div>{{ form.get('nationality')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Constitution-->
								<div class="mb-3 row">
									<label for="constitution" [ngClass]="form.get('constitution')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Constitution</span>

										@if (formData['constitution'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">

										<select class="form-select form-select-sm" formControlName="constitution" [ngClass]="{'is-invalid': formSubmitHandler && f['constitution'].errors}">
											<option selected value="" disabled>Select Constitution</option>
											<option value="Citizen">Citizen</option>
											<option value="Permanent Resident">Permanent Resident</option>
											<option value="Dual Citizenship">Dual Citizenship</option>
											<option value="Overseas Citizen">Overseas Citizen</option>
											<option value="Refugee">Refugee</option>
										</select>

										@if (formSubmitHandler && f['constitution'].errors) {
										<div class="invalid-feedback">

											@if (f['constitution'].errors['required']) {

											<div>Please Select Constitution</div>

											}

											@if (form.get('constitution')?.hasError('backendError')) {

											<div>{{ form.get('constitution')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!-- Address -->
								<div class="mb-3 row">
									<label for="address" [ngClass]="form.get('address')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Address</span>

										@if (formData['address'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<textarea autosize class="form-control form-control-sm" rows="2" placeholder="Enter Address" formControlName="address" [ngClass]="{'is-invalid': formSubmitHandler && f['address'].errors}" [autocomplete]="0"></textarea>

										@if (formSubmitHandler && f['address'].errors) {
										<div class="invalid-feedback">

											@if (f['address'].errors['required']) {

											<div>Please Enter Address</div>

											}

											@if (form.get('address')?.hasError('backendError')) {

											<div>{{ form.get('address')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!--CIN-->
								<div class="mb-3 row">
									<label for="cin" [ngClass]="form.get('cin')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>CIN</span>

										@if (formData['cin'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="cin" placeholder="Please Enter CIN" oninput="this.value = this.value.toUpperCase()" formControlName="cin" [ngClass]="{'is-invalid': formSubmitHandler && f['cin'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['cin'].errors) {
										<div class="invalid-feedback">

											@if (f['cin'].errors['pattern']) {

											<div>Please Enter Valid CIN</div>

											}

											@if (f['cin'].errors['required']) {

											<div>Please Enter CIN</div>

											}

											@if (f['cin'].errors['minlength']) {

											<div>Please Enter Valid {{f['cin'].errors['minlength'].requiredLength}} Alphanumeric CIN</div>

											}

											@if (f['cin'].errors['maxlength']) {

											<div>You Have Entered More than {{f['cin'].errors['maxlength'].requiredLength}} Alphanumeric CIN</div>

											}

											@if (form.get('cin')?.hasError('backendError')) {

											<div>{{ form.get('cin')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--GST No.-->
								<div class="mb-3 row">
									<label for="gstn" [ngClass]="form.get('gstn')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>GST</span>

										@if (formData['gstn'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="gstn" placeholder="Please Enter GST No." oninput="this.value = this.value.toUpperCase()" formControlName="gstn" [ngClass]="{'is-invalid': formSubmitHandler && f['gstn'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['gstn'].errors) {
										<div class="invalid-feedback">

											@if (f['gstn'].errors['pattern']) {

											<div>Please Enter Valid GST No.</div>

											}

											@if (f['gstn'].errors['required']) {

											<div>Please Enter GST No. </div>

											}

											@if (f['gstn'].errors['minlength']) {

											<div>Please Enter Valid {{f['gstn'].errors['minlength'].requiredLength}} Alphanumeric GST No.</div>

											}

											@if (f['gstn'].errors['maxlength']) {

											<div>You Have Entered More than {{f['gstn'].errors['maxlength'].requiredLength}} Alphanumeric GST No.</div>

											}

											@if (form.get('gstn')?.hasError('backendError')) {

											<div>{{ form.get('gstn')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--PAN-->
								<div class="mb-3 row">
									<label for="pan" [ngClass]="form.get('pan')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>PAN</span>

										@if (formData['pan'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="pan" placeholder="Please Enter PAN" oninput="this.value = this.value.toUpperCase()" formControlName="pan" [ngClass]="{'is-invalid': formSubmitHandler && f['pan'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['pan'].errors) {
										<div class="invalid-feedback">

											@if (f['pan'].errors['pattern']) {

											<div>Please Enter Valid PAN</div>

											}

											@if (f['pan'].errors['required']) {

											<div>Please Enter PAN</div>

											}

											@if (f['pan'].errors['minlength']) {

											<div>Please Enter Valid {{f['pan'].errors['minlength'].requiredLength}} Alphanumeric PAN</div>

											}

											@if (f['pan'].errors['maxlength']) {

											<div>You Have Entered More than {{f['pan'].errors['maxlength'].requiredLength}} Alphanumeric PAN</div>

											}

											@if (form.get('pan')?.hasError('backendError')) {

											<div>{{ form.get('pan')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Import Export Code-->
								<div class="mb-3 row">
									<label for="importExportCode" [ngClass]="form.get('importExportCode')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Import Export Code</span>

										@if (formData['importExportCode'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="importExportCode" placeholder="Please Enter Import Export Code" formControlName="importExportCode" [ngClass]="{'is-invalid': formSubmitHandler && f['importExportCode'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['importExportCode'].errors) {
										<div class="invalid-feedback">

											@if (f['importExportCode'].errors['required']) {

											<div>Please Enter Import Export Code</div>

											}

											@if (form.get('importExportCode')?.hasError('backendError')) {

											<div>{{ form.get('importExportCode')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Import License No.-->
								<div class="mb-3 row">
									<label for="importLicenseNo" [ngClass]="form.get('importLicenseNo')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Import License No.</span>

										@if (formData['importLicenseNo'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="importLicenseNo" placeholder="Please Enter Import License No." formControlName="importLicenseNo" [ngClass]="{'is-invalid': formSubmitHandler && f['importLicenseNo'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['importLicenseNo'].errors) {
										<div class="invalid-feedback">

											@if (f['importLicenseNo'].errors['required']) {

											<div>Please Enter Import License No.</div>

											}

											@if (form.get('importLicenseNo')?.hasError('backendError')) {

											<div>{{ form.get('importLicenseNo')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Export License No.-->
								<div class="mb-3 row">
									<label for="exportLicenseNo" [ngClass]="form.get('exportLicenseNo')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Export License No.</span>

										@if (formData['exportLicenseNo'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="exportLicenseNo" placeholder="Please Enter Export License No." formControlName="exportLicenseNo" [ngClass]="{'is-invalid': formSubmitHandler && f['exportLicenseNo'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['exportLicenseNo'].errors) {
										<div class="invalid-feedback">

											@if (f['exportLicenseNo'].errors['required']) {

											<div>Please Enter Export License No.</div>

											}

											@if (form.get('exportLicenseNo')?.hasError('backendError')) {

											<div>{{ form.get('exportLicenseNo')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!-- Pincode  -->
								<div class="row">
									<label for="pincode" [ngClass]="form.get('pincode')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Pincode</span>

										@if (formData['pincode'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>

									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="tel" class="form-control form-control-sm" id="pincode" minlength="6" maxlength="6" placeholder="Enter Pincode" formControlName="pincode" [ngClass]="{'is-invalid': formSubmitHandler && f['pincode'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['pincode'].errors) {
										<div class="invalid-feedback">

											@if (f['pincode'].errors['pattern']) {

											<div>Please Enter Valid Pincode</div>

											}

											@if (f['pincode'].errors['required']) {

											<div>Please Enter Pincode</div>

											}

											@if (f['pincode'].errors['minlength']) {

											<div>Please Enter Valid {{f['pincode'].errors['minlength'].requiredLength}} Digit Pincode</div>

											}

											@if (f['pincode'].errors['maxlength']) {

											<div>You Have Entered More than {{f['pincode'].errors['maxlength'].requiredLength}} Digits</div>

											}

											@if (form.get('pincode')?.hasError('backendError')) {

											<div>{{ form.get('pincode')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>
							</div>

							<div class="card-footer">
								<div class="text-center">
									<button type="submit" class="btn btn-primary btn-sm" [disabled]="!form.dirty">Update</button>
								</div>
							</div>

							}

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 col-xxl-8">
		@defer (on viewport) {

		<app-doc-approve-reject-modal [docsData]="docs" [requestUrl]="pageId+ '/company-doc-validation'" (docRejected)="getRejectedSts($event)" (docApproved)="getApprovedSts($event)"></app-doc-approve-reject-modal>

		} @error {

		<div class="alert alert-warning" role="alert">
			Loading Failed... Please contact administrator for more information
		</div>

		} @placeholder (minimum 1s){

		<div class="d-flex justify-content-center align-items-center display-3">
			<i class="fa-solid fa-spinner fa-spin-pulse"></i>
		</div>

		}
	</div>
</div>