<div class="d-flex justify-content-between align-items-center stickyHeader" style="overflow: hidden;">
	<h5 class="m-0" style="display: flex;align-items: center;gap: 0.75rem;">
		<a [routerLink]="['/finance-qa/bnt-error/bank-account/list']" [queryParams]="backUrlParams" style="font-size: 80%;color: inherit;"><i class="fa-solid fa-arrow-left"></i> </a>Bank Account Field Error
	</h5>
</div>

<div class="row align-items-start" [@fade]>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-4">
		<form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>

			<div class="row" style="max-width:initial;">
				<div class="col-12">
					<div class="container-fluid p-0">
						<div class="card formCard mb-2" style="max-width: initial;">
							<div class="card-header bg-body-secondary bg-gradient">
								<h6 class=" m-0 d-flex gap-2 align-items-center"><i class="fa-regular fa-building"></i> Details</h6>
							</div>

							@if (formData!= undefined) {

							<div class="card-body">
								<!--Account Name-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['accountName'].error}">
									<label for="accountName" [ngClass]="form.get('accountName')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Account Name</span>

										@if (formData['accountName'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="accountName" placeholder="Please Enter Account Name" formControlName="accountName" [ngClass]="{'is-invalid': formSubmitHandler && f['accountName'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['accountName'].errors) {
										<div class="invalid-feedback">

											@if (f['accountName'].errors['required']) {

											<div>Please Enter Account Name</div>

											}

											@if (form.get('accountName')?.hasError('backendError')) {

											<div>{{ form.get('accountName')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Account No.-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['accountNumber'].error}">
									<label for="accountNumber" [ngClass]="form.get('accountNumber')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Account No.</span>

										@if (formData['accountNumber'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="accountNumber" placeholder="Please Enter Account Name" formControlName="accountNumber" [ngClass]="{'is-invalid': formSubmitHandler && f['accountNumber'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['accountNumber'].errors) {
										<div class="invalid-feedback">

											@if (f['accountNumber'].errors['required']) {

											<div>Please Enter Account No.</div>

											}

											@if (form.get('accountNumber')?.hasError('backendError')) {

											<div>{{ form.get('accountNumber')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Bank Name-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['bankName'].error}">
									<label for="bankName" [ngClass]="form.get('bankName')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Bank Name</span>

										@if (formData['bankName'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="bankName" placeholder="Please Enter Bank Name" formControlName="bankName" [ngClass]="{'is-invalid': formSubmitHandler && f['bankName'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['bankName'].errors) {
										<div class="invalid-feedback">

											@if (f['bankName'].errors['required']) {

											<div>Please Enter Bank Name</div>

											}

											@if (form.get('bankName')?.hasError('backendError')) {

											<div>{{ form.get('bankName')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--Branch Name-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['branchName'].error}">
									<label for="branchName" [ngClass]="form.get('branchName')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Branch Name</span>

										@if (formData['branchName'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="branchName" placeholder="Please Enter Branch Name" formControlName="branchName" [ngClass]="{'is-invalid': formSubmitHandler && f['branchName'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['branchName'].errors) {
										<div class="invalid-feedback">

											@if (f['branchName'].errors['required']) {

											<div>Please Enter Branch Name</div>

											}

											@if (form.get('branchName')?.hasError('backendError')) {

											<div>{{ form.get('branchName')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>

								<!--IFSC-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['ifsc'].error}">
									<label for="ifsc" [ngClass]="form.get('ifsc')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>IFSC</span>

										@if (formData['ifsc'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="text" class="form-control form-control-sm" id="ifsc" placeholder="Please Enter IFSC" formControlName="ifsc" [ngClass]="{'is-invalid': formSubmitHandler && f['ifsc'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['ifsc'].errors) {
										<div class="invalid-feedback">

											@if (f['ifsc'].errors['required']) {

											<div>Please Enter IFSC</div>

											}

											@if (form.get('ifsc')?.hasError('backendError')) {

											<div>{{ form.get('ifsc')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>


								<!--Penny Drop Status-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['pennyDropStatus'].error}">
									<label for="pennyDropStatus" [ngClass]="form.get('pennyDropStatus')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Penny Drop Status</span>
										@if (formData['pennyDropStatus'].required) {<span class="required ms-1" [title]="'Required'">*</span>}
									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">

										<select class="form-select form-select-sm" (change)="pennydropValueChangeEvent($event)" formControlName="pennyDropStatus" [ngClass]="{'is-invalid': formSubmitHandler && f['pennyDropStatus'].errors}">
											<option selected value="" disabled>Select</option>
											<option value="YES">Yes</option>
											<option value="NO">No</option>
										</select>

										@if (formSubmitHandler && f['pennyDropStatus'].errors) {
										<div class="invalid-feedback">

											@if (f['pennyDropStatus'].errors['required']) {

											<div>Please Select Penny Drop Status</div>

											}

											@if (form.get('pennyDropStatus')?.hasError('backendError')) {

											<div>{{ form.get('pennyDropStatus')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!--Transaction Doc-->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['transactionDoc'].error}">
									<label for="transactionDoc" [ngClass]="form.get('transactionDoc')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Transaction Doc</span>
										@if (formData['transactionDoc'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">

										@if(transDocShow){
										<div class="d-flex align-items-center gap-2">
											<img [src]="this.formData['transactionDoc'].value" class="img-thumbnail" role="button" (click)="thumbnailViewEvent(this.formData['transactionDoc'].value, 'Transaction Doc')" style="width: 100px; height: auto;" />

											<button (click)="changeDocument()" type="button" class="btn btn-danger btn-sm">
												Change document?
											</button>
										</div>

										} @else {
										<input type="file" (change)="fileUploadEvent($event)" [accept]="formData['transactionDoc'].type" class="form-control form-control-sm" formControlName="transactionDoc" [ngClass]="{'is-invalid': formSubmitHandler && f['transactionDoc'].errors}">

										@if (formSubmitHandler && f['transactionDoc'].errors) {
										<div class="invalid-feedback">

											@if (f['transactionDoc'].errors['required']) {

											<div>Please Upload Transaction Doc</div>

											}

											@if (form.get('transactionDoc')?.hasError('backendError')) {

											<div>{{ form.get('transactionDoc')?.getError('backendError') }}</div>

											}

										</div>
										}

										}

									</div>
								</div>


								<!-- Address -->
								<div class="mb-3 row" [ngClass]="{'fieldError': formData['address'].error}">
									<label for="address" [ngClass]="form.get('address')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Address</span>

										@if (formData['address'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<textarea autosize class="form-control form-control-sm" rows="3" placeholder="Enter Address" formControlName="address" [ngClass]="{'is-invalid': formSubmitHandler && f['address'].errors}" [autocomplete]="0"></textarea>

										@if (formSubmitHandler && f['address'].errors) {
										<div class="invalid-feedback">

											@if (f['address'].errors['required']) {

											<div>Please Enter Address</div>

											}

											@if (form.get('address')?.hasError('backendError')) {

											<div>{{ form.get('address')?.getError('backendError') }}</div>

											}

										</div>

										}
									</div>
								</div>

								<!-- Pincode  -->
								<div class="row" [ngClass]="{'fieldError': formData['pincode'].error}">
									<label for="pincode" [ngClass]="form.get('pincode')?.disabled ? 'disabled': ''" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3 col-form-label-sm pe-xl-0 pe-xxl-0">
										<span>Pincode</span>

										@if (formData['pincode'].required) {<span class="required ms-1" [title]="'Required'">*</span>}

									</label>

									<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
										<input type="tel" class="form-control form-control-sm" id="pincode" minlength="6" maxlength="6" placeholder="Enter Pincode" formControlName="pincode" [ngClass]="{'is-invalid': formSubmitHandler && f['pincode'].errors}" [autocomplete]="0" />

										@if (formSubmitHandler && f['pincode'].errors) {
										<div class="invalid-feedback">

											@if (f['pincode'].errors['pattern']) {

											<div>Please Enter Valid Pincode</div>

											}

											@if (f['pincode'].errors['required']) {

											<div>Please Enter Pincode</div>

											}

											@if (f['pincode'].errors['minlength']) {

											<div>Please Enter Valid {{f['pincode'].errors['minlength'].requiredLength}} Digit Pincode</div>

											}

											@if (f['pincode'].errors['maxlength']) {

											<div>You Have Entered More than {{f['pincode'].errors['maxlength'].requiredLength}} Digits</div>

											}

											@if (form.get('pincode')?.hasError('backendError')) {

											<div>{{ form.get('pincode')?.getError('backendError') }}</div>

											}

										</div>

										}

									</div>
								</div>
							</div>

							<div class="card-footer">
								<div class="text-center">
									<button type="submit" class="btn btn-primary btn-sm" [disabled]="!form.dirty">Update</button>
								</div>
							</div>

							}

						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-7 col-xxl-8">
		@defer (on viewport) {

		<app-doc-modal [docsData]="docs"></app-doc-modal>

		} @error {

		<div class="alert alert-warning" role="alert">
			Loading Failed... Please contact administrator for more information
		</div>

		} @placeholder (minimum 1s){

		<div class="d-flex justify-content-center align-items-center display-3">
			<i class="fa-solid fa-spinner fa-spin-pulse"></i>
		</div>

		}
	</div>
</div>


<!-- Thumbnail Previw Modal-->
<ng-template #thumbnailModal let-c="close" let-d="dismiss">
	<div class="modal-header bg-primary text-white bg-gradient py-2" style="--bs-modal-header-padding: 0.5rem 1rem; border-bottom: 0rem;">
		<h6 class="modal-title" id="modal-basic-title">
			@if (thumbnailModalName != null || thumbnailModalName != '') {

			{{thumbnailModalName | titlecase}}

			} @else {Thumbnail}

		</h6>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body p-0">
		<img [src]="thumbnailModalSrc" style="display: block; margin: 0 auto; max-width: 100%;" />
	</div>
</ng-template>

<!-- End -->
