.mat-mdc-form-field-bottom-align::before {
	display: none;
}

.example-full-width {
	width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
	background-color: rgb(255 255 255 / 5%) !important;
}

.upsideLabel {
	left: 0.75rem !important;
	top: -0.625rem !important;
	transform: none !important;
	gap: 0 !important;
	font-size: 0.75rem;
}

.extraDetails {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
	margin-left: 40px;
	margin-bottom: 5px;
	font-size: 0.75rem;
	color: rgba(var(--bs-emphasis-color-rgb), 0.5);
}

.otherFieldsLabel {
	.mdc-form-field.mat-internal-form-field>label {
		font-weight: bold;
	}
}