.wave-container {
	// background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
	color: white;
	text-align: center;
	overflow: hidden;
	// height: 100vh;
	height: 100%;
}

.waves {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15vh;
	min-height: 100px;
	max-height: 150px;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}

/* Animation */
.parallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
	fill: rgba(var(--bs-primary-rgb), 0.3);
}

.parallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
	fill: rgba(var(--bs-primary-rgb), 0.5);
}

.parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
	fill: rgba(var(--bs-primary-rgb), 0.7);
}

.parallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
	fill: rgba(var(--bs-primary-rgb), 1);
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/* Shrinking for mobile */
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}




//---------------Ocean style-------------------//



//
//<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="198"><defs><linearGradient id="a" x1="50%" x2="50%" y1="-10.959%" y2="100%"><stop stop-color="var(--bs-primary)" stop-opacity=".25" offset="0%" /><stop stop-color="var(--bs-primary)" offset="100%" /></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)" /></svg>//
@mixin element-color($color) {
	// background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="198"><defs><linearGradient id="a" x1="50%" x2="50%" y1="-10.959%" y2="100%"><stop stop-color="%23{$color}" stop-opacity=".25" offset="0%" /><stop stop-color="%23{$color}" offset="100%" /></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)" /></svg>');


	// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3E%3Cstop stop-color='%23var(--bs-primary)' stop-opacity='.25' offset='0%25'/%3E%3Cstop stop-color='%23var(--bs-primary)' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z' transform='matrix(-1 0 0 1 1600 0)'/%3E%3C/svg%3E");

	background-color: $color;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z' transform='matrix(-1 0 0 1 1600 0)'/%3E%3C/svg%3E");
}

.ocean {
	// height: 120px;
	height: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--bs-primary);

	.wave {
		@include element-color(rgba(var(--bs-link-color-rgb), 0.1));
		position: absolute;
		top: -198px;
		width: 6400px;
		height: 198px;
		animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
		-webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
		opacity: 0.4;

		&:nth-of-type(2) {
			top: -175px;
			animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
			opacity: 1;
		}
	}

	@keyframes wave {
		0% {
			margin-left: 0;
		}

		100% {
			margin-left: -1600px;
		}
	}

	@-webkit-keyframes wave {
		0% {
			margin-left: 0;
		}

		100% {
			margin-left: -1600px;
		}
	}


	@keyframes swell {

		0%,
		100% {
			transform: translate3d(0, -23px, 0);
		}

		50% {
			transform: translate3d(0, 5px, 0);
		}
	}

	@-webkit-keyframes swell {

		0%,
		100% {
			transform: translate3d(0, -23px, 0);
		}

		50% {
			transform: translate3d(0, 5px, 0);
		}
	}
}