<div class="multiselect-container">
	<!-- Selected Options -->
	<div class="form-control form-control-sm custom-select-box" (click)="toggleDropdown()">
		@if (selectedOptionArray.length) {
		<div class="selected-items">
			<span *ngFor="let option of selectedOptionArray" class="badge bg-primary">
				{{ option.label }}
				<i class="bi bi-x ms-2" (click)="removeSelectedOption(option)"></i>
			</span>
		</div>
		} @else {
		<div>Select Options</div>
		}
	</div>

	<!-- Dropdown container -->
	<div class="dropdown-container" [class.show]="isDropdownOpen">
		<!-- Search box -->
		<div class="search-box">
			<input type="search" class="form-control form-control-sm" placeholder="Search..." [(ngModel)]="searchText">
		</div>

		<!-- Option list -->
		<div class="dropdown-options-container">
			@for (option of filteredOptions; track $index) {
			<div class="dropdown-item" style="user-select: none;">
				<input type="checkbox" class="form-check-input" [id]="$index" [checked]="isChecked(option)" (change)="onCheckboxChange(option, $event)">
				<label [for]="$index" role="button">{{ option.label }}</label>
			</div>
			} @empty {
			<div class="dropdown-item" style="user-select: none;">No items found</div>
			}
		</div>
	</div>
</div>