<!-- <app-theme-button></app-theme-button> -->
<div class="container-wrapper" style="padding: 1.5rem">
	<div class="container loginComponent">
		<div class="formBox row justify-content-center align-items-center">
			<div class="svgEl d-flex col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">

				@if(svgTemp){
				<login-svg></login-svg>
				} @else {
				<div class="w-100 text-center d-flex justify-content-center align-items-center">
					<div>
						<cropdata-svg></cropdata-svg>

					</div>
				</div>
				}

			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
				<h3 class="subTitle">Unified Web Admin</h3>
				<h1 class="title" style="font-size: 2.75rem;">Welcome to CropData</h1>
				<!-- <h4 class="tagLine">"Largest Blockchain AgEcosystem"</h4>
            <h4 class="tagLine ms-4">"Empowering Millions of Farmers"</h4>
            <p class="intro-para mt-3">CropData is on a mission to connect millions of distant farmers to knowledge, markets and essential services in a <span class="primary-color"><i> Neutral</i></span> environment.</p> -->


				@if(loginFormScreen){

				<form [formGroup]="loginForm" (ngSubmit)="submitLoginDetails()" novalidate class="m-auto my-3 m-xl-0 " style="max-width: 400px;width: calc(100% - 24px);">
					<!-- <h5 class="mb-3">Login</h5> -->

					<!-- mobile -->
					<div class="mb-3">
						<div class="input-group" [ngClass]="{'is-invalid': userDetailSubmit && f['mobile'].errors}">
							<div class="form-floating">
								<input type="number" class="form-control" id="mobile" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" placeholder="Please Enter Mobile No." formControlName="mobile" />
								<label for="mobile" class="floatingInput">Mobile No. <span class="required">*</span></label>
							</div>

							@if(isDevModeActivate){
							<div class="input-group-text p-0">
								<select class="form-select" formControlName="selectType" (change)="selectTypeChange(loginForm.get('selectType')?.value)" style="text-align:left;padding: 16px 22px;max-width: 43px;background-position: center center;">
									<option selected disabled>Autofill</option>
									<option value="1">Admin</option>
									<option value="2">Company QA</option>
									<option value="3">Scheduling</option>
									<option value="4">Warehouse</option>
									<option value="5">Telecaller</option>
									<option value="6">Geo Tag</option>
									<option value="7">Finance</option>
									<option value="8">Incomplete Case</option>
									<option value="9">Basic KYC</option>
								</select>
							</div>

							}
						</div>

						@if(userDetailSubmit && f['mobile'].errors){

						<div class="invalid-feedback">
							@if(f['mobile'].errors['required']){
							<div>Please Enter Mobile No.</div>
							}

							@if(f['mobile'].errors['pattern']){
							<div>Please Enter Valid Mobile No.</div>
							}

							@if(f['mobile'].errors['minlength']){
							<div>Please Enter Minimum 10 Digit Mobile No.</div>
							}

							@if(f['mobile'].errors['maxlength']){
							<div>Please Enter Maximum 10 Digit Mobile No.</div>
							}

							@if(loginForm.get('mobile')?.hasError('backendError')){
							<div>{{ loginForm.get('mobile')?.getError('backendError') }}</div>
							}
						</div>

						}
					</div>

					<!-- Password -->
					<div class="mb-3">
						<div class="input-group" [ngClass]="{'is-invalid': userDetailSubmit && f['password'].errors}">
							<div class="form-floating">
								<input class="form-control" id="password" [type]="passwordShow" formControlName="password" [ngClass]="{'is-invalid': userDetailSubmit && f['password'].errors}" placeholder="Password">
								<label class="floatingInput" for="password">Password <span class="required">*</span></label>
							</div>
							<span class="input-group-text" style="cursor: pointer;" (click)="passToggle()">
								<i class="fa {{passwordShow=='password'? 'fa-eye': 'fa-eye-slash'}}"></i>
							</span>
						</div>

						@if(userDetailSubmit && f['password'].errors){

						<div class="invalid-feedback">
							@if(f['password'].errors['required']){
							<div>Please Enter Password</div>
							}


							@if(loginForm.get('password')?.hasError('backendError')){
							<div>{{ loginForm.get('password')?.getError('backendError') }}</div>
							}
						</div>

						}
					</div>

					<!-- Button -->
					<div class="d-flex justify-content-between align-items-center submitSection">
						<button type="submit" class="btn btn-primary" style="--bs-btn-padding-x: 1.5rem;">Log in</button>
						<button type="button" class="btn btn-link" (click)="toggleLoginForm()">Forgot Password?</button>
					</div>

				</form>

				} @else {

				<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordFormSubmit()" class="m-auto my-3 m-xl-0 " style="max-width: 400px;width: calc(100% - 24px);">
					<h5 class="mb-3">Reset Password</h5>
					<!-- mobile -->
					<div class="form-floating mb-3">
						<input class="form-control" id="recoveryMobileNo" type="number" formControlName="recoveryMobileNo" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" minlength="10" [ngClass]="{'is-invalid': forgotPasswordSubmit && g['recoveryMobileNo'].errors}" placeholder="Please Enter Mobile No.">
						<label class="floatingInput" for="recoveryMobileNo">Registered Mobile No. <span class="required">*</span></label>

						@if(forgotPasswordSubmit && g['recoveryMobileNo'].errors){

						<div class="invalid-feedback">
							@if(g['recoveryMobileNo'].errors['required']){
							<div>Please Enter Registered Mobile No.</div>
							}

							@if(g['recoveryMobileNo'].errors['pattern']){
							<div>Please Enter Valid Mobile No.</div>
							}

							@if(g['recoveryMobileNo'].errors['minlength']){
							<div>Please Enter Minimum 10 Digit Mobile No.</div>
							}

							@if(g['recoveryMobileNo'].errors['maxlength']){
							<div>Please Enter Maximum 10 Digit Mobile No.</div>
							}

							@if(forgotPasswordForm.get('recoveryMobileNo')?.hasError('backendError')){
							<div>{{ forgotPasswordForm.get('recoveryMobileNo')?.getError('backendError') }}</div>
							}
						</div>

						}

					</div>

					<!-- Button -->
					<div class="d-flex justify-content-between align-items-center submitSection">
						<button type="submit" class="btn btn-primary" style="--bs-btn-padding-x: 1.5rem;">Submit</button>
						<button type="button" class="btn btn-link" (click)="toggleLoginForm()">Back to login</button>
					</div>
				</form>

				}
			</div>
		</div>
	</div>

</div>

<app-colormode style="position: fixed; top: 1rem;right: 1rem;" />