<div class="d-flex gap-2 verification-task-list" style="flex-direction: row-reverse">
	@for (objItem of validation | keyvalue; track objItem) {

	@if (objItem.value != null) {

	@switch (objItem.key) {

	@case ('userStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('companyStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('farmStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('caseWarehouseStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('bankAccountStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('kmlStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('spotStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@case ('schedulingStatus') {

	<span class="badge bg-gradient" [title]="getValidationStsTooltip(objItem.key, objItem.value)" [class]="getValidationSts(objItem.value)" [innerHTML]="getValidationStsIcon(objItem.key)"></span>

	}

	@default {

	}

	}

	}

	}

</div>
