// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the theme object.
// $UnifiedAppAdminFrontend-theme: mat.define-theme((color: (theme-type: light,
// 				primary: mat.$azure-palette,
// 				tertiary: mat.$blue-palette,
// 			),
// 			density: (scale: 0,
// 			)));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// :root {
// 	@include mat.all-component-themes($UnifiedAppAdminFrontend-theme);
// }

// // Comment out the line below if you want to use the pre-defined typography utility classes.
// // For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// // @include mat.typography-hierarchy($UnifiedAppAdminFrontend-theme);

// // Comment out the line below if you want to use the deprecated `color` inputs.
// // @include mat.color-variants-backwards-compatibility($UnifiedAppAdminFrontend-theme);
@use '@angular/material' as mat;

@include mat.core();

$light-primary: (
	50: #e8eaf6,
	100: #c5cae9,
	200: #9fa8da,
	300: #7986cb,
	400: #5c6bc0,
	500: #3f51b5,
	600: #394aae,
	700: #31408b,
	800: #283593,
	900: #1a237e,
	A100: #8c9eff,
	A200: #536dfe,
	A400: #3d5afe,
	A700: #304ffe,
	contrast: (50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$light-accent: (
	50 : #fff3e0,
	100 : #ffe0b3,
	200 : #ffcc80,
	300 : #ffb74d,
	// 400 : #ffa726,
	400 : #828ecf,
	500 : #ff9800,
	600 : #ff9000,
	700 : #ff8500,
	800 : #ff7b00,
	900 : #ff6a00,
	A100 : #ffffff,
	A200 : #fff7f2,
	A400 : #ffd6bf,
	A700 : #ffc5a6,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		// 400 : #000000,
		400 : #ffffff,
		500 : #000000,
		600 : #000000,
		700 : #000000,
		800 : #000000,
		900 : #000000,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

$light-theme-primary: mat.m2-define-palette($light-primary, 500);
$light-theme-accent: mat.m2-define-palette($light-accent, 400, 500, 600);
$light-theme: mat.m2-define-light-theme((color: (primary: $light-theme-primary,
				accent: $light-theme-accent),
			typography: mat.m2-define-typography-config(),
		));

:root,
[data-bs-theme="light"] {
	@include mat.all-component-themes($light-theme);
}

//-----------------------------------------Dark Theme--------------------------------//

$dark-primary: (
	50: #e5e7f7,
	100: #bbc3ec,
	200: #8e9ae0,
	300: #6171d4,
	400: #4257ca,
	500: #283dc0,
	600: #2237b9,
	700: #1a2fad,
	800: #1224a1,
	900: #091a91,
	A100: #ffffff,
	A200: #c3cdff,
	A400: #909eff,
	A700: #6d84ff,
	contrast: (50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$dark-accent: (
	50 : #e8eaf6,
	100 : #c5cbe9,
	200 : #9fa8da,
	300 : #7985cb,
	400 : #5c6bc0,
	500 : #3f51b5,
	600 : #394aae,
	700 : #3140a5,
	800 : #29379d,
	900 : #1b278d,
	A100 : #c6cbff,
	A200 : #939dff,
	A400 : #606eff,
	A700 : #4757ff,
	contrast: (50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

$dark-theme-primary: mat.m2-define-palette($dark-primary, 200);
$dark-theme-accent: mat.m2-define-palette($dark-accent, 400, 500, 600);

$dark-theme: mat.m2-define-dark-theme((color: (primary: $dark-theme-primary, accent: $dark-theme-accent)));



[data-bs-theme="dark"] {

	@include mat.all-component-colors($dark-theme);

}


// #ff9800

// #3F51B5