.wave-container {
	position: relative;
	// background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
	color: white;
	text-align: center;
	overflow: hidden;
	// height: 100vh;
	height: 100%;
}

.waves {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15vh;
	min-height: 100px;
	max-height: 150px;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}

/* Animation */
.parallax>use {
	animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax>use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax>use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax>use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

/* Shrinking for mobile */
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
}






.wrapper {
	width: 90%;
	max-width: 1536px;
	margin-inline: auto;
	position: relative;
	height: 100px;
	margin-top: 5rem;
	overflow: hidden;
	mask-image: linear-gradient(to right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 1) 20%,
			rgba(0, 0, 0, 1) 80%,
			rgba(0, 0, 0, 0));

	.item {
		width: 200px;
		height: 100px;
		background-color: red;
		border-radius: 6px;
		position: absolute;
		left: max(calc(200px * 8), 100%);
		animation-name: scrollLeft;
		animation-duration: 30s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		&.item1 {
			animation-delay: calc(30s / 8 * (8 - 1) * -1);
		}

		&.item2 {
			animation-delay: calc(30s / 8 * (8 - 2) * -1);
		}

		&.item3 {
			animation-delay: calc(30s / 8 * (8 - 3) * -1);
		}

		&.item4 {
			animation-delay: calc(30s / 8 * (8 - 4) * -1);
		}

		&.item5 {
			animation-delay: calc(30s / 8 * (8 - 5) * -1);
		}

		&.item6 {
			animation-delay: calc(30s / 8 * (8 - 6) * -1);
		}

		&.item7 {
			animation-delay: calc(30s / 8 * (8 - 7) * -1);
		}

		&.item8 {
			animation-delay: calc(30s / 8 * (8 - 8) * -1);
		}
	}
}

@keyframes scrollLeft {
	to {
		left: -200px;
	}
}