<div class="d-flex justify-content-between align-items-center stickyHeader" style=" overflow: hidden">
	<h5 class="m-0" style="display: flex;align-items: center;gap: 0.75rem;">List <span class="badge bg-gradient text-bg-primary" style="font-size: 0.875rem;">{{count}} Record(s)</span></h5>

	<div class="d-flex gap-2">
		<a class="btn btn-primary btn-sm bg-gradient listHeaderBtnWithIcon" (click)="searchModelEvent()">

			<i class="fa-solid fa-magnifying-glass"></i>
			<span>Search <span class="desktop-view-only">For New Employee</span></span>
		</a>

		@if (filterComponentData.length > 0) {
		<div class="btn-group filterBtn " role="group" aria-label="Basic example" style="position: relative;">
			<a type="button" (click)="toggleFilter()" class="btn btn-primary btn-sm bg-gradient listHeaderBtnWithIcon" style="position: relative;">
				<i class="fa-solid fa-filter"></i>
				<span>Filter</span>
			</a>

			@if (checkObjectHasValueOrNot(filterObject)) {
			<span class="filterIndicator"></span>
			<button type="button" title="Reset" (click)="resetFilter(); filterPanel= false" class="btn btn-danger btn-sm bg-gradient"><i class="fa-solid fa-rotate-right"></i></button>
			}
		</div>
		}

	</div>
</div>

@if (showListBuilder) {

<app-listbuilder [componentListData]="componentListData" [filterComponentData]="filterComponentData" [editUrl]="editUrl" (fieldsOrder)="fieldsOrder($event)" (componentAction)="componentActionRequest($event)"></app-listbuilder>

}

@if (errorInListApi) {

<div class="alert alert-danger py-4 m-0" role="alert" style="--bs-alert-border-color: var(--main-card-bg-color);height: calc(100% - 2.5rem);margin: 0;">
	<h4 class="d-flex align-items-center gap-2 justify-content-center">
		<i class="fa-solid fa-circle-exclamation"></i>
		<div>
			<strong>Error Found!</strong>
		</div>
	</h4>
	<div class="text-center mt-2">Please contact administrator for more information</div>
</div>

}

@if (listTableData.length > 0) {

<div class="stickyFooter" style="padding: 1rem 1.5rem 1rem 1.5rem;box-shadow: 0 0rem 0rem 0.125rem var(--main-body-color);">
	<app-pagination [totalRecords]="count" [currentPage]="page" [recordsPerPage]="pageSize" [pageSizeList]="pageSizes" (onPageChange)="handlePageChange($event)" (onPageSizeChange)="handlePageSizeChange($event)"></app-pagination>
</div>

}

@if (filterComponentData.length > 0) {
@if(filterSts){
<app-filterbuilder [componentData]="filterComponentData" [filterPanel]="filterPanel" (filterApplySubmit)="getFormValuesFromBuilder($event)" (toggleFilterValue)="toggleFilterValue($event)"></app-filterbuilder>
}
}


<ng-template #searchModel let-c="close" let-d="dismiss">
	<div class="modal-header text-white bg-gradient bg-secondary py-2" style="--bs-modal-header-padding: 0.5rem 1rem;">
		<h6 class="modal-title">Search For Employee Details...</h6>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="searchForm" (ngSubmit)="searchFormSubmit()" novalidate>
			<mat-tab-group dynamicHeight [backgroundColor]="'primary'" mat-stretch-tabs="true" mat-align-tabs="start" #tabGroup (selectedTabChange)="searchTabChanged($event)">
				<mat-tab>
					<ng-template mat-tab-label>
						<i class="fa-solid fa-mobile-screen me-2"></i>By Mobile
					</ng-template>
					<div style="display: flex;justify-content: center;align-items: baseline;position: relative;">
						<input type="tel" class="form-control form-control-lg customInput" minlength="10" maxlength="10" id="searchByMobile" placeholder="Please Enter Mobile No." formControlName="searchByMobile" [ngClass]="{'is-invalid': formSubmitHandler && f['searchByMobile'].errors}" [autocomplete]="0" />
						<i class="fa-solid fa-magnifying-glass formIcon"></i>
					</div>

					@if(formSubmitHandler && f['searchByMobile'].errors){

					<div class="invalid-feedback">

						@if(f['searchByMobile'].errors['pattern']){
						<div>Please Enter Valid Mobile No.</div>
						}

						@if(f['searchByMobile'].errors['minlength']){
						<div>Please Enter At Least Minimum 10 Digit Mobile No.</div>
						}

						@if(f['searchByMobile'].errors['maxlength']){
						<div>Please Enter Maximun 10 Digit Mobile No. Only</div>
						}
					</div>

					}

				</mat-tab>

				<mat-tab>
					<ng-template mat-tab-label>
						<i class="fa-solid fa-user me-2"></i>By Name
					</ng-template>
					<div style="display: flex;justify-content: center;align-items: baseline;position: relative;">
						<input type="search" class="form-control form-control-lg customInput" minlength="3" maxlength="15" id="searchByName" placeholder="Please Enter Name" formControlName="searchByName" [ngClass]="{'is-invalid': formSubmitHandler && f['searchByName'].errors}" [autocomplete]="0" />
						<i class="fa-solid fa-user formIcon"></i>
					</div>

					@if(formSubmitHandler && f['searchByName'].errors){

					<div class="invalid-feedback">
						@if(f['searchByName'].errors['minlength']){
						<div>Please Enter At Least Minimum 3 Character Name</div>
						}

						@if(f['searchByName'].errors['maxlength']){
						<div>Please Enter Maximun 10 Character Name Only</div>
						}
					</div>
					}

				</mat-tab>
			</mat-tab-group>
		</form>

		<div class="mt-3">
			@if(searchResult!= undefined){

			<ul class="list-group">
				<li class="list-group-item" style="background-color: var(--bs-primary); color: #ffffff;background-image: var(--bs-gradient) !important;"><strong>{{searchResult.length}} Search Result...</strong></li>

				@for (item of searchResult; track item) {

				<li class="list-group-item p-0" style="overflow: hidden;">
					<!-- <a [routerLink]="[item.isVerified? '/admin/employee/details/'+item.id : '']" (click)="d('Cross click')" [class]="!item.isVerified? 'disabledField': ''" class="resultGroup list-group-item-action"> -->
					<a [routerLink]="['/hr-department/employee/details/'+item.id]" (click)="d('Cross click')" class="resultGroup list-group-item-action">
						<div class="row align-items-center">
							<div class="col-auto col-md-auto">
								<div class="profileImageContainer">
									<img [src]="item.photo== ''? 'assets/images/user.jpg': item.photo" class="img-fluid img-thumbnail searchThumb" />
								</div>
							</div>
							<div class="col col-md resultDetails">
								<div class="row">
									<div class="col-12">
										<div class="row">
											<div class="col-12 col-md-auto">
												<h6 class="m-0 link-color">

													@if(searchForm.get('searchByMobile')?.value!= null && searchForm.get('searchByMobile')?.value!= '' && searchForm.get('searchByMobile')?.value!= undefined){

													{{item.mobile}}

													} @else {

													{{item.name!= ""? item.name: 'No Name'}}

													}

												</h6>
											</div>
											<div class="col-12 col-md-auto certificationBadge">
												@if(item.isVerified){

												<span class="badge text-bg-success">
													<i class="fa-solid fa-user-shield icon" [title]="'Verified'"></i>
												</span>

												} @else {

												<span class="badge text-bg-secondary">
													<i class="fa-solid fa-user-shield icon" [title]="'Not Verified'"></i>
												</span>

												}

												@if(item.isEmployee){

												<span class="badge text-bg-success">
													<i class="fa-solid fa-user-tag" [title]="'CropData Employee'"></i>
												</span>

												} @else {

												<span class="badge text-bg-secondary">
													<i class="fa-solid fa-user-tag" [title]="'New User'"></i>
												</span>

												}

											</div>
										</div>
									</div>

									<div class="col-12 col-md-auto">

										@if(searchForm.get('searchByMobile')?.value!= null && searchForm.get('searchByMobile')?.value!= '' && searchForm.get('searchByMobile')?.value!= undefined){

										{{item.name!= ""? item.name: 'No Name'}}

										} @else {

										{{item.mobile}}

										}

									</div>
									<div class="col-12 col-md d-flex align-items-center gap-2">
										<i class="fa-solid fa-envelope"></i>
										<span>{{item.email!= ""? item.email: 'No Email'}}</span>
									</div>
								</div>
							</div>
						</div>
					</a>
				</li>

				}

			</ul>
			}
		</div>
	</div>
</ng-template>